/*
Theme Name: Dividend by MyThemeShop
Theme URI: http://mythemeshop.com/themes/dividend/
Author: MyThemeShop
Author URI: http://mythemeshop.com/
Description: Dividend is a fully responsive magazine WordPress theme that comes with custom post type for deals. It can be used to create a blog, magazine or deals website. It comes with highly professional and customizable layouts.
Version: 1.2.3
Text Domain: dividend
Domain Path: /lang
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button, input, select, textarea { margin: 0 }
:focus { outline: 0 }
img, video, object {
    max-width: 100%;
    height: auto;
}
iframe { max-width: 100% }
blockquote {
    font-size: 22px;
    font-weight: 300;
    padding: 0 10px 20px 27px;
    position: relative;
    margin-top: 25px;
    font-family: 'Georgia', Serif!important;
}
blockquote:after {
    font-family: FontAwesome;
    position: absolute;
    content: "\f10d";
    font-size: 20px;
    width: 50px;
    top: 0;
    left: 0;
}
blockquote p { margin-bottom: 10px }
strong, b { font-weight: bold }
em, i, cite { font-style: italic }
small { font-size: 100% }
figure { margin: 10px 0 }
code, pre {
    font-weight: normal;
    font-style: normal;
}
code {
    padding: 0 8px;
    line-height: 1.5;
}
pre code { padding: 0 }
mark {
    padding: 1px 6px;
    margin: 0 2px;
    color: black;
    background: #FFF7A8;
}
address {
    margin: 10px 0;
    font-style: italic;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 3px 10px;
    margin-bottom: 20px;
    text-align: center;
}
.sticky {}
.gallery-caption {}
#gallery-1 img { border: 0!important }
.bypostauthor {}
.wp-caption-text { margin-bottom: 0 }
dl {}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
    overflow: hidden;
}
/* =WordPress Core
-------------------------------------------------------------- */
/*-[ Framework ]--------------------*/
.alignnone { margin: 5px 20px 20px 0 }
.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone { margin: 5px 20px 20px 0 }
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 0;
    margin-bottom: 15px;
    max-width: 100%;
}
.wp-caption.alignleft { margin: 5px 20px 20px 0 }
.wp-caption.alignright { margin: 5px 0 20px 20px }
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 14px;
    padding: 0 4px 5px;
    color: #333;
}
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
/*-[ Framework ]--------------------*/
body {
    font: 16px/1.75 Noto Sans, sans-serif;
    color: #555;
    overflow-x: hidden;
}
::-moz-selection {
    background: #222;
    color: white;
    text-shadow: none;
}
::selection {
    background: #222;
    color: white;
    text-shadow: none;
}
#page, .container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 12px;
    color: #444;
}
h1 {
    font-size: 28px;
    line-height: 1.4;
}
h2 { line-height: 1.4 }
h3 {
    font-size: 22px;
    line-height: 1.4;
}
h4 {
    font-size: 20px;
    line-height: 1.4;
}
h5 {
    font-size: 18px;
    line-height: 1.4;
}
h6 {
    font-size: 16px;
    line-height: 1.4;
}
.sub-title { font-size: 12px }
p { margin-bottom: 20px }
a {
    text-decoration: none;
    color: #000;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
a:hover { color: #000 }
a:link, a:visited, a:active { text-decoration: none }
/*-[ Main container ]---------------*/
.main-container {
    width: 100%;
    margin: 0 auto;
    clear: both;
    display: block;
}
#page, .container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 240px;
}
#page {
    padding-top: 37px;
    min-height: 100px;
    float: none;
    clear: both;
}
.page-inner {
    margin-right: -15px;
    margin-left: -15px;
}
/*-[ Header ]-----------------------*/
header {
    float: left;
    width: 100%;
    position: relative;
}
#site-header {
    z-index: 99;
}
#header {
    width: 100%;
    padding: 0 0.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
#header h1, #header h2 {
    float: left;
    display: inline-block;
    line-height: 1;
    position: relative;
    margin-bottom: 0;
}
#logo a {
    float: left;
    line-height: 1;
}
#logo img { float: left }
.logo-wrap { float: left; margin-right: 20px; }
.text-logo { padding: 26px 0 }
.image-logo  {
    padding-top: 15px;
    padding-bottom: 10px;
}
.wpmm-megamenu-showing.wpmm-light-scheme { background: transparent!important }
.navigation ul li.deals a { background: rgba(255,255,255,0.2)!important }
#secondary-navigation a:hover { background: rgba(255,255,255,0.2) }
.widget-header {
    clear: both;
    margin: 0 -4.5px;
    padding-top: 46px;
    text-align: center;
}
.home .widget-header { padding: 20px 0 11px 0 }
.widget-header .adcode-widget {
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
}
/*-[ Navigation ]-----------------*/
.menu-item-has-children > a:after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    right: 18px;
}
ul ul .menu-item-has-children > a:after { right: 0 }
.navigation .menu-item-has-children > a { padding-right: 25px }
#secondary-navigation {
    float: left;
    padding: 26px 0;
}
#secondary-navigation a {
    text-align: left;
    text-decoration: none;
}
.navigation a {
    padding: 4px 10px;
    margin-right: 7.5px;
    border-radius: 20px;
    color: inherit;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.navigation ul { margin: 0 auto }
.navigation ul li {
    float: left;
    position: relative;
}
.navigation ul li a, .navigation ul li a:link, .navigation ul li a:visited { display: inline-block }
.navigation ul ul {
    position: absolute;
    width: 250px;
    z-index: 400;
    margin-top: 24px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}
.sub-menu > li {
    padding: 0 30px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.navigation ul ul a, .navigation ul ul a:link, .navigation ul ul a:visited {
    position: relative;
    margin: 0;
    padding: 10px 0;
    width: 190px;
    border-bottom: 1px solid #e8e9e9;
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.navigation ul ul:before {
    position: absolute;
    content: '';
    width: 0;
    height: 14px;
    border-style: solid;
    border-width: 0 10px 12px 10px;
    border-color: transparent transparent #fff transparent;
    top: -24px;
    left: 31px;
    z-index: 100;
}
.navigation ul ul ul:before { display: none }
.navigation ul ul:after {
    position: absolute;
    content: '';
    height: 24px;
    width: 100%;
    left: 0;
    top: -24px;
    z-index: 100;
}
#secondary-navigation .navigation ul ul a, #secondary-navigation .navigation ul ul a:link, #secondary-navigation .navigation ul ul a:visited {
    font-size: inherit;
    text-transform: none;
    font-weight: normal;
    border-radius: 0;
    color: #3b3b3b;
    background: transparent!important;
}
.navigation ul ul { display: none }
.navigation ul ul ul {
    top: 0;
    left: 250px;
    margin-top: 0;
}
.sub-menu .menu-item-has-children:after { color: #fff }
.navigation .toggle-caret { display: none }
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after { clear: both }
.clearfix { *zoom: 1  }
a#pull { display: none }
.navigation i { margin-right: 4px }
/* Flyout nav */
#site-header.sticky-navigation-active {
    z-index: 500;
    position: fixed;
    top: 0;
    -webkit-backface-visibility: hidden;
}
.admin-bar #site-header.sticky-navigation-active { top: 31px }
#site-header.sticky-navigation a { -webkit-transition: all 0.25s linear; transition: all 0.25s linear }
#wpmm-megamenu.wpmm-light-scheme .wpmm-posts .wpmm-entry-title a {
    font-size: 16px;
    color: #000!important;
    font-weight: normal;
}
/* Header Login */
.header-login {
    float: right;
    position: relative;
    margin-right: 10px;
}
.login-wrap { padding: 25px 0 }
.login-wrap .user-name {
    color: #fff;
    margin-left: 5px;
    line-height: 30px;
}
.login-wrap .logged-in-sub {
    position: absolute;
    left: 0;
    width: 150px;
    display: none;
    background: #fff;
    padding: 10px 30px;
    margin-top: 24px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}
.login-wrap a { color: #3b3b3b }
.login-wrap .logged-in-sub:before {
    position: absolute;
    content: '';
    width: 0;
    height: 14px;
    border-style: solid;
    border-width: 0 10px 12px 10px;
    border-color: transparent transparent #fff transparent;
    top: -24px;
    left: 62px;
    z-index: 100;
}
.login-wrap .logged-in-sub:after {
    position: absolute;
    content: '';
    height: 24px;
    width: 100%;
    left: 0;
    top: -24px;
    z-index: 100;
}
.login-wrap:hover .logged-in-sub { display: block }
.login-wrap .avatar { border-radius: 50% }
.login-signup {
    float: left;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 25px;
}
.login-signup a {
    float: left;
    display: block;
    padding: 0 10px;
    color: #fff;
    border: 1px solid #aab2bc;
    line-height: 32px;
    margin-right: 5px;
    border-radius: 40px;
}
.login-signup a:last-child { margin-right: 0 }
#site-header .login-signup a {
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
}
.login-signup a i {
    font-size: 15px;
    line-height: 30px;
}

/* Header Social */
#site-header .social-buttons {
    float: right;
    margin-top: 5px;
    padding: 24px 0;
    position: relative;
    z-index: 1;
}
.header-item {
    float: left;
    width: 75px;
    height: 28px;
    margin-right: 10px;
    display: block;
    overflow: hidden;
}
.header-item.gplusbtn { margin-top: 5px }
.header-item.twitterbtn { width: 64px }
.header-item:last-child { margin-right: 0 }
/* Header Search */
#header .widget_search {
    float: right;
    width: auto;
    clear: none;
    overflow: visible;
    margin: 20px 0 20px 10px;
    position: relative;
    min-width: 40px;
}
#header #searchform {
    position: absolute;
    min-width: 1px;
    right: 0;
    z-index: 4;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#header #s {
    width: 40px;
    position: absolute;
    right: 0;
    text-indent: 20px;
    padding-right: 40px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: width 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
#header .sbutton, #header #searchsubmit {
    position: absolute;
    right: 0;
    background: #fff;
}
#header #searchform:hover #s, #header #searchform #s:focus { width: 200px }

/*-[ FeaturedBox ]----------------*/
.featuredBox {
    float: left;
    width: 100%;
    clear: both;
    max-width: 1900px;
}
.featuredPost {
    float: left;
    width: 100%;
    clear: both;
    position: relative;
}
.featuredPost .featured-thumbnail:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear,left bottom, left top,from(rgba(0,0,0,.8)),color-stop(90%, rgba(0,0,0,.1)));
    background: linear-gradient(0deg,rgba(0,0,0,.8),rgba(0,0,0,.1) 90%);
}
.featuredBox .firstpost {
    float: left;
    width: 54%;
    overflow: hidden;
}
.featuredBox .secondpost {
    float: left;
    width: 46%;
    padding-left: 4.5px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.featuredBox .thirdpost {
    float: left;
    width: 23%;
    max-width: 437px;
    padding-left: 4.5px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.featuredBox .fourthpost {
    float: left;
    width: 23%;
    padding-left: 4.5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 437px;
}
.featuredBox header {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;
    padding: 5%;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.featuredBox .secondpost header { padding: 4% }
.featuredBox .title {
    color: #fff;
    line-height: 1.25;
    display: inline;
    margin-bottom: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.featuredBox .firstpost .title { font-size: 35px }
.featuredBox .secondpost .title { font-size: 30px }
.featuredBox .thirdpost .title {
    font-size: 25px;
    line-height: 1.1;
}
.featuredBox .fourthpost .title {
    font-size: 25px;
    line-height: 1.1;
}
.featuredBox .title a { color: inherit }
.featuredBox .thecategory {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 10px;
}
.featuredBox .secondpost .thecategory { margin-bottom: 0 }
.featuredBox .thirdpost .thecategory, .featuredBox .fourthpost .thecategory { font-size: 16px; margin-bottom: 15px; }
/*Subscribe Box*/
.featuredBox .widget.wp_subscribe { margin-bottom: 0 }
.featuredBox .widget #wp-subscribe { padding-top: 43px }
.widget-single-subscribe .widget #wp-subscribe {
    background: #54366d;
    padding: 4% 15% 3% 24%;
}
.widget-single-subscribe {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.widget-single-subscribe .widget { margin-bottom: 0 }
#page .widget-single-subscribe .widget #wp-subscribe {
    background-size: 90%;
    background-position: 50%;
}
.widget .wp-subscribe-form {
    position: relative;
    margin-bottom: 26px;
}
.widget #wp-subscribe h4.title {
    font-size: 29px;
    line-height: 1.1;
    text-align: left;
    margin-bottom: 27px;
    display: block;
    text-transform: none;
}
.widget-single-subscribe .widget #wp-subscribe h4.title { font-size: 35px }
.widget #wp-subscribe h4.title span {
    color: #fff;
    font-size: inherit;
    font-weight: inherit;
    margin-top: 0;
}
.widget-single-subscribe .widget #wp-subscribe h4.title span { color: #ff8454 }
.widget #wp-subscribe input.email-field, .widget #wp-subscribe input.name-field {
    width: 100%;
    margin: 0;
    text-indent: 0;
    text-align: left;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20% 10px 25px;
    border-radius: 40px;
    color: inherit;
    background: #fff;
}
.fourthpost .widget #wp-subscribe input.email-field, .fourthpost .widget #wp-subscribe input.name-field { color: #666 }
.widget #wp-subscribe input.name-field { margin-bottom: 10px }
.widget-single-subscribe .widget #wp-subscribe input.email-field, .widget-single-subscribe .widget #wp-subscribe input.name-field {
    height: 45px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
}
.widget #wp-subscribe input.submit {
    position: absolute;
    left: 81%;
    width: 20%;
    bottom: 0;
    padding: 0;
    color: #fff;
    margin: 0;
    text-indent: 0;
    height: 50px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    min-width: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.widget-single-subscribe .widget #wp-subscribe input.submit {
    background: #00b094;
    text-transform: none;
    height: 45px;
    left: 70%;
    width: 31%;
    font-size: 15px;
}
.widget #wp-subscribe p.text {
    opacity: 1;
    text-align: left;
    margin-top: 0;
    margin-bottom: 25px;
}
.widget-single-subscribe .widget #wp-subscribe p.text { margin-top: 25px }
.widget .wp-subscribe p.footer-text {
    text-align: left;
    margin-top: 0;
    color: #fff;
    font-size: 13px;
}
.widget-single-subscribe .widget #wp-subscribe p.footer-text { color: rgba(255,255,255,0.4) }
.subscribe-container .widget {
    margin-bottom: 0;
    background: transparent;
}
.subscribe-container .widget-title { color: inherit }
/*-[ Content ]--------------------*/
.article {
    float: left;
    width: 69.453%;
}
.home .article, .blog .article, .search .article, .archive .article { width: 100% }
#content_box {
    float: left;
    width: 100%;
}
.error404 #content_box {
    padding: 55px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
}
.post {
    float: left;
    width: 100%;
    word-wrap: break-word;
}
.single_post {
    float: left;
    width: 100%;
    padding: 55px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
    border-color: #88bf5f;
    margin-bottom: 40px;
}
.single_post:after {
    -webkit-transition: inherit;
    transition: inherit;
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    height: 5px;
    left: 0;
    right: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: inherit;
}
.single_page {
    float: left;
    width: 100%;
    padding: 55px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
    border-color: #88bf5f;
    margin-bottom: 40px;
}
.post-content {
    margin-bottom: 15px;
    overflow: hidden;
    clear: both;
    float: left;
    width: 100%;
}
.error404 .post-content { overflow: visible }
.post-single-content { clear: both }
.single_post .featured-thumbnail { margin-bottom: 30px }
.readMore {
    float: right;
    color: #7B7A79;
}
.readMore a { color: #EE210B }
.frontPost .readMore a {
    color: #000;
    font-size: 12px;
}
.ss-full-width { overflow: hidden }
.ss-full-width #content_box {
    padding-right: 0;
    padding-left: 0;
}
.post.excerpt {
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 15px;
    background-color: #fff;
    width: auto;
}
.wp-post-image { float: left }
.featured-thumbnail {
    float: left;
    width: 100%;
    position: relative;
}
.post-image {
    float: left;
    display: block;
    position: relative;
}
.post-image-fullwidth {
    margin-bottom: 10px;
    display: block;
    position: relative;
}
.featured-thumbnail img {
    float: left;
    width: 100%;
}
.title { clear: both }
.single-post-category {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 22px;
}
.single-post-category a { color: inherit }
.single-title, .title.entry-title {
    float: left;
    width: 100%;
    line-height: 1.1;
    margin-bottom: 30px;
}
.page h1.title {
    margin-top: 0;
    margin-bottom: 25px;
}
.post-info {
    float: left;
    width: 100%;
    clear: both;
    color: #aab2bc;
    display: block;
}
.post-info > span { margin-right: 3px }
.post-info .thespace { font-weight: normal }
.post-info .thetime {
    color: #aab2bc;
    font-weight: normal;
}
.widget .post-info .thetime { color: inherit }
.post-info a {
    color: inherit;
}
.theauthorimage {
    float: left;
    width: 100px;
}
.theauthorimage img {
    margin: 0!important;
    border-radius: 50%;
}
.single-meta-info {
    float: left;
    margin-top: 12px;
    width: 40%;
}
.post-info .single-meta-info .thetime { line-height: 1.5 }
.single_post .post-info {
    padding: 9px 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 22px;
}
/**********latest-posts***********/
.featured-category-title {
    clear: both;
    color: #fff;
    font-size: 24px;
    line-height: 1.1;
    padding: 11px 20px;
    margin-left: 4.5px;
    margin-top: 4.5px;
    margin-bottom: 15.5px;
    padding-right: 25px;
    background: #54366d;
    position: relative;
    display: inline-block;
}
.featured-category-title:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    -webkit-transform: translateX(-16.5px) skew(-15deg);
    transform: translateX(-16.5px) skew(-15deg);
    width: 40px;
    background-color: inherit;
}
.featured-category-title a { color: inherit }
.btn-archive-link {
    float: right;
    position: relative;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 40px;
    text-align: center;
    line-height: 1.42857143;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: rgba(255,255,255,0.098);
}
.btn-archive-link:hover { background-color: rgba(255,255,255,0.2); color: #fff; }
.article-wrap .btn-archive-link {
    background: #fff;
    color: #a0a0a0;
    margin-right: 4.5px;
    font-weight: bold;
}
.article-wrap .btn-archive-link:hover {
    background: rgba(0,0,0,0.2);
}
.home #page, .blog #page {
    max-width: 100%;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
.article-wrap {
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 4.70px;
    padding: 44.20px 0;
}
.archive .article-wrap, .search .article-wrap { padding-top: 0 }
.article-inner { margin: -4.5px }
.article-wrap:nth-last-of-type(1) { margin-bottom: 0 }
.latestPost {
    float: left;
    width: 25%;
    padding: 4.5px;
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.latestPost-layout {
    float: left;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    overflow: hidden;
}
.latestPost .title {
    display: block;
    line-height: 1.3;
    margin-bottom: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    word-wrap: break-word;
}
.latestPost .title a { color: inherit }
.article-content {
    float: left;
    width: 100%;
    clear: both;
    position: relative;
    padding: 20px 20px 25px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.article-content header {
    height: 110px;
    overflow: hidden;
}
.latestPost-layout:focus, .latestPost-layout:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
}
.latestPost-layout:after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    webkit-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    border-bottom: 5px solid;
    border-bottom-color: inherit;
}
.latestPost-layout:focus:after, .latestPost-layout:hover:after {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.latestPost-layout:hover .title, .latestPost-layout:hover .title a { text-decoration: underline }

.more-page { clear: both }
.article-layout-2 .latestPost.post-1 .latestPost-layout, .article-layout-2 .latestPost.post-1 .article-content, .article-layout-3 .latestPost.post-1 .latestPost-layout, .article-layout-3 .latestPost.post-1 .article-content, .article-layout-4 .latestPost.post-1 .latestPost-layout, .article-layout-4 .latestPost.post-1 .article-content, .article-layout-5 .latestPost.post-1 .latestPost-layout, .article-layout-5 .latestPost.post-1 .article-content { background: #54366d }
/*-[ Layout 1 ]---------------------------*/
.article-layout-1 .latestPost:nth-of-type(4n+1) { clear: left }
.article-layout-1 .latestPost .latestPost-layout {  background: #fff }
/*-[ Layout 2 ]---------------------------*/
.article-layout-2 .article {
    float: left;
    width: 66.66666667%;
}
/*.article-layout-2 .latestPost .latestPost-layout { background: #fff }*/
.article-layout-2 .latestPost { height: 279.5px }
.article-layout-2 .latestPost:nth-of-type(4n+2) { clear: left }
.article-layout-2 .latestPost:nth-of-type(2) { clear: none }
.article-layout-2 .latestPost.post-1 {
    width: 50%;
    height: inherit;
}
.article-layout-2 .latestPost.post-1 .latestPost-layout { min-height: 550px }
.article-layout-2 .latestPost.post-1 .title {
    font-size: 29px;
    color: #fff;
    margin-bottom: 12px;
}
.article-layout-2 .latestPost.post-1 .article-content {
    background: inherit;
    padding: 15px;
    padding-top: 35px;
}
.article-layout-2 .latestPost.post-1 .article-content:before {
    background-color: inherit;
    content: "";
    left: 0;
    padding-top: 6.99268%;
    pointer-events: none;
    position: absolute;
    right: 0;
    -webkit-transform: translateY(-50%) skewY(-4deg);
    transform: translateY(-50%) skewY(-4deg);
    top: 0;
}
.article-layout-2 .latestPost.post-1 .article-content header {
    height: auto;
    overflow: visible;
}
.article-layout-2 .post-info, .article-layout-2 .thetime { color: #fff }
.article-layout-2 .sidebar.c-4-12 {
    float: right;
    padding: 4.5px;
    width: 33.33333333%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.article-layout-2 .sidebar.c-4-12 .widget { margin-bottom: 10px }
/*-[ Layout 3 ]---------------------------*/
.article-layout-3 .latestPost {
    width: 16.66666667%;
    height: 279.5px;
}
.article-layout-3 .latestPost.post-1 {
    width: 33.33333333%;
    height: inherit;
}
.article-layout-3 .latestPost:nth-of-type(6n+4) { clear: left; }
.article-layout-3 .latestPost:nth-of-type(4) { clear: none }
/*.article-layout-3 .latestPost .latestPost-layout { background: #fff }*/
.article-layout-3 .latestPost.post-1 .latestPost-layout { min-height: 550px }
.article-layout-3 .latestPost.post-1 .title {
    font-size: 29px;
    color: #fff;
    margin-bottom: 12px;
}
.article-layout-3 .latestPost.post-1 .article-content {
    background: inherit;
    padding: 15px;
    padding-top: 35px;
}
.article-layout-3 .latestPost.post-1 .latestPost-layout .article-content:before {
    background-color: inherit;
    content: "";
    left: 0;
    padding-top: 6.99268%;
    pointer-events: none;
    position: absolute;
    right: 0;
    -webkit-transform: translateY(-50%) skewY(-4deg);
    transform: translateY(-50%) skewY(-4deg);
    top: 0;
}
.article-layout-3 .latestPost.post-1 .article-content header {
    height: auto;
    overflow: visible;
}
.article-layout-3 .post-info, .article-layout-3 .thetime { color: #fff }
/*-[ Layout 4 ]---------------------------*/
.article-layout-4 .latestPost {
    width: 16.66666667%;
    height: 279.5px;
}
.article-layout-4 .latestPost.post-1, .article-layout-4 .latestPost.post-2 {
    width: 33.33333333%;
    height: inherit;
}
.article-layout-4 .latestPost .latestPost-layout { background: #fff }
.article-layout-4 .latestPost.post-1 .latestPost-layout, .article-layout-4 .latestPost.post-2 .latestPost-layout { min-height: 550px }
.article-layout-4 .latestPost.post-2 .title {
    font-size: 29px;
    margin-bottom: 12px;
}
.article-layout-4 .latestPost.post-1 .title {
    font-size: 29px;
    color: #fff;
    margin-bottom: 12px;
}
.article-layout-4 .latestPost.post-1 .article-content {
    background: inherit;
    padding: 15px;
    padding-top: 35px;
}
.article-layout-4 .latestPost.post-1 .article-content:before {
    background-color: inherit;
    content: "";
    left: 0;
    padding-top: 6.99268%;
    pointer-events: none;
    position: absolute;
    right: 0;
    -webkit-transform: translateY(-50%) skewY(-4deg);
    transform: translateY(-50%) skewY(-4deg);
    top: 0;
}
.article-layout-4 .latestPost.post-1 .article-content header, .article-layout-4 .latestPost.post-2 .article-content header {
    height: auto;
    overflow: visible;
}
.article-layout-4 .latestPost.post-1 .post-info, .article-layout-4 .latestPost.post-1 .thetime { color: #fff }
/*-[ Layout 5 ]---------------------------*/
.article-layout-5 .latestPost { width: 16.66666667% }
.article-layout-5 .latestPost.post-1, .article-layout-5 .latestPost.post-2, .article-layout-5 .latestPost.post-3 { width: 33.33333333% }
.article-layout-5 .latestPost .latestPost-layout { background: #fff }
.article-layout-5 .latestPost.post-1 .latestPost-layout, .article-layout-5 .latestPost.post-2 .latestPost-layout, .article-layout-5 .latestPost.post-3 .latestPost-layout { min-height: 550px }
.article-layout-5 .latestPost.post-1 .title, .article-layout-5 .latestPost.post-2 .title, .article-layout-5 .latestPost.post-3 .title {
    font-size: 29px;
    margin-bottom: 12px;
}
.article-layout-5 .latestPost.post-1 .title { color: #fff }
.article-layout-5 .latestPost.post-1 .article-content {
    background: inherit;
    padding: 15px;
    padding-top: 35px;
}
.article-layout-5 .latestPost.post-1 .article-content:before {
    background-color: inherit;
    content: "";
    left: 0;
    padding-top: 6.99268%;
    pointer-events: none;
    position: absolute;
    right: 0;
    -webkit-transform: translateY(-50%) skewY(-4deg);
    transform: translateY(-50%) skewY(-4deg);
    top: 0;
}
.article-layout-5 .latestPost.post-1 .article-content header, .article-layout-5 .latestPost.post-2 .article-content header, .article-layout-5 .latestPost.post-3 .article-content header {
    height: auto;
    overflow: visible;
}
.article-layout-5 .latestPost.post-1 .post-info, .article-layout-5 .latestPost.post-1 .thetime { color: #fff }
/*-[ Layout 6 ]---------------------------*/
.article-layout-6 .article {
    float: left;
    width: 66.66666667%;
}
.article-layout-6 .latestPost:nth-of-type(4n+1) { clear: left }
.article-layout-6 .sidebar.c-4-12 {
    float: right;
    padding: 4.5px;
    width: 33.33333333%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.article-layout-2 .sidebar.c-4-12 .widget { margin-bottom: 10px }
/*-[ Layout 7 ]---------------------------*/
.article-layout-7 .latestPost { width: 16.6666667% }
.article-layout-7 .latestPost:nth-of-type(6n+1) { clear: left }
.article-layout-7 .latestPost .latestPost-layout { background: #fff }

.front-view-content {

}
/*-[ Call To Action ]---------------------------*/
.call-to-action {
    float: left;
    width: 100%;
    clear: both;
    overflow: hidden;
    position: relative;
    padding: 62px 50% 62px 8%;
}
.call-to-action:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 40%;
    margin-left: -50px;
    -webkit-transform: translateX(-16.5px) skew(-15deg);
    transform: translateX(-16.5px) skew(-15deg);
    width: 180px;
    background-color: inherit;
}
.call-to-action-left {
    float: left;
    width: 54%;
}
.call-to-action-text { margin-bottom: 30px }
.call-to-action-title {
    line-height: 1.25;
    font-size: 54px;
    max-height: 134px;
    overflow: hidden;
    margin-bottom: 40px;
}
.call-to-action-button a {
    color: #fff;
    padding: 0 72px;
    font-size: 19px;
    line-height: 52px;
    border-radius: 40px;
    display: inline-block;
    background: #88bf5f;
    -webkit-transition: all .25s;
    transition: all .25s;
}
.call-to-action-button a svg {
    float: right;
    width: 42px;
    height: 50px;
}
.call-to-action img {
    float: right;
    width: 45%;
    margin: -62px 0 -62px 0;
}
.single_post header { width: 100% }
/*Deals page*/
.deals-featured .featured-thumbnail:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: -webkit-gradient(linear,left bottom, left top,from(rgba(0,0,0,.8)),color-stop(90%, rgba(0,0,0,.1)));
    background: linear-gradient(0deg,rgba(0,0,0,.8),rgba(0,0,0,.1) 90%);
}
.featuredBox .title:hover { background: #322243 }
.featuredBox .widget .wp-subscribe h4.title:hover { background: transparent }
.featuredBox .deals-button svg {
    height: 46px;
    width: 40px;
    margin-left: -2px;
}
.deals-posts { margin: -4.5px }
#deals-archive .latestPost {
    float: left;
    width: 50%;
    padding: 4.5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.deals-layout {
    float: left;
    width: 100%;
    padding: 20px;
    padding-bottom: 17px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-transition: all .4s;
    transition: all .4s;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #efefef;
    -webkit-box-shadow: 0 0px 5px #efefef;
    box-shadow: 0 0px 5px #efefef;
}
.deals-thumbnail {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c3c2be;
}
#deals-archive .latestPost:nth-of-type(2n+1) { clear: left }
.content-container {
    margin-top: 3px;
    overflow: hidden;
}
#deals-archive .deals-related-post.latestPost .title {
    margin-top: 0;
}
.featuredBox .deals-button {
    margin-top: 30px;
    padding: 0 31px;
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
}
.single-deals .single_post {
    margin-bottom: 0;
    padding-bottom: 0;
    z-index: 15;
}
.single-deals .post-info { margin-bottom: 0 }
.single-thumbnail {
    float: right;
    margin-left: 5%;
    margin-bottom: 25px;
    border: 1px solid #c3c2be;
}
.single-deals-button { margin-bottom: 25px }
.single-deals-button a {
    margin-top: 20px;
    padding: 9px 50px;
    -webkit-transition: all .25s;
    transition: all .25s;
    position: relative;
    color: #fff;
    border-radius: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    background-color: #88bf5f;
}
.single-deals-button a svg {
    float: right;
    width: 40px;
    height: 40px;
}
.deals-expiry {
    clear: both;
    margin-top: 25px;
    font-size: 16px;
    line-height: 1.75em;
}
.expirydate { padding: 20px 0 }
.expirydate span { font-weight: bold }
#page.single .single-deals .article .widget { margin-bottom: 0 }
/*Deals Related Posts*/
.deals-related-posts {
    float: left;
    width: 100%;
    position: relative;
    z-index: 8;
    padding: 35px 30px;
    padding-top: 0;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
}
.deals-related-posts h4 {
    font-size: 35px;
    line-height: 1.1;
    margin: 37px 0;
}
.deals-related-posts .btn-archive-link {
    position: absolute;
    right: 30px;
    top: 37px;
    background: #f4f3ee;
    color: #c3c2be;
    font-weight: bold;
}
.deals-related-posts .btn-archive-link:hover {
    color: #fff;
    background: rgba(0,0,0,0.2);
}
.deals-related-posts .single-thumbnail {
    float: left;
    margin: 0;
    margin-right: 21px;
}
.deals-related-posts .latestPost {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #c3c2be;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.deals-related-posts .latestPost:after { display: none }
.deals-related-posts .latestPost:focus, .deals-related-posts .latestPost:hover { -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.5); box-shadow: 0 0 15px 0 rgba(0,0,0,.5) }
.deals-related-post.latestPost .title {
    display: inline-block;
    clear: none;
    margin-top: 15px;
    margin-bottom: 7px;
}
.deals-related-expiry {
    color: #c3c2be;
    font-weight: bold;
}
.deals-featured {
    font-size: 14px;
    margin-bottom: 12px;
}
.archive-deals#page {
    padding-top: 26px;
    margin-bottom: 40px;
    overflow: hidden;
}
.tax-mts_categories .archive-deals#page { padding-top: 37px }
.deals-more-button {
    padding: 7px 25px;
    line-height: 30px;
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    color: inherit;
    background-color: #f4f3ee;
}
.deals-button {
    padding-left: 20px;
    padding-right: 10px;
    line-height: 40px;
    display: inline-block;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #fff!important;
    background-color: #88bf5f;
}
.deals-button svg {
    float: right;
    width: 30px;
    height: 40px;
    margin-left: 2px;
}
.relatedpost-layout {
    float: left;
    width: 100%;
    padding: 4.5px;
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.deals-related-posts .latestPost:hover .title, .deals-related-posts .latestPost:hover .title a {
    text-decoration: none
}
.deals-related-posts .latestPost .title:hover { text-decoration: underline }
.single-deals #comments { margin-top: 5% }
article img.left, article img.alignleft, .wp-caption.alignleft {
    margin: 0.3em 1.571em 0.5em 0;
    display: block;
    float: left;
}
article img.right, article img.alignright, .wp-caption.alignright {
    margin: 0.3em 0 0.5em 1.571em;
    display: block;
    float: right;
}
article img.center, article img.aligncenter, .wp-caption.aligncenter {
    margin: 0.3em auto 0.5em auto;
    display: block;
}
article img.aligncenter, article img.alignnone {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    clear: both;
    float: none;
}
article ul {
    margin: 1.5em 0 1.571em 2.5em;
    list-style-type: square;
}
article ol {
    margin: 1.5em 0 1.571em 2.5em;
    list-style-type: decimal;
}
article ul ul, article ol ol, article ul ol, article ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
article .iconlist { margin-left: 0 }
article .iconlist li { list-style-type: none }

/*-[ Tweets Widget ]---------------------------*/
.tweets li { margin-bottom: 15px!important }
/*-[ Facebook Widget ]---------------------------*/
.fb_iframe_widget, .fb_iframe_widget span {
    float: left;
    max-width: 100%;
    width: 100%!important;
}
/*-[ Custom Nav Widget ]---------------------------*/
.widget_nav_menu .fa > a, .widget_nav_menu .fa > a { padding-left: 5px }
.widget_nav_menu .sub-menu {
    margin-top: 8px;
    padding-left: 10px;
    border-top: 1px solid #aab2bc;
}
#site-footer .widget_nav_menu .sub-menu {
    margin-top: 15px;
    padding-left: 10px;
    border-top: 1px solid #4a3c5a;
}
.widget_nav_menu .sub-menu > li:last-child {
    border-bottom: 0!important;
    padding-bottom: 0!important;
}
.widget_nav_menu .menu-item-has-children > a:after { content: '' }
/*-[ Toggle menu ]---------------------------*/
.toggle-menu ul ul { display: none }
.toggle-menu .toggle-menu-item-parent { position: relative }
.toggle-menu .toggle-caret {
    position: absolute;
    top: 8px;
    right: 0;
    text-align: center;
    cursor: pointer;
    line-height: inherit;
}
#site-footer .toggle-menu .toggle-caret { top: 16px }
.toggle-menu .toggle-caret .fa {
    width: 20px;
    text-align: center;
    font-size: inherit;
    color: inherit;
    line-height: 20px;
}
.toggle-menu .active > .toggle-caret .fa:before { content: "\f068" } /*minus*/
.toggle-menu .toggle-caret:hover .fa {

}
.widget .sub-menu > li { background: inherit }
/*-[ Text Widget ]---------------------------*/
.textwidget {
    line-height: 1.75;
    padding: 20px;
}
#site-footer .textwidget { padding: 0 }
.textwidget img { margin-top: 10px; margin-bottom: 10px; }
.textwidget .wp-caption img { margin: 0 }
/*-[ Tab Widget ]---------------------------*/
.widget.widget_wpt { background: transparent }
.widget.widget_wpt ul { padding: 0 }
.widget .wpt_widget_content .tab_title a {
    padding: 0;
    line-height: 39px;
    background: #fff;
    border-color: #fff;
    text-transform: uppercase;
}
#site-footer .widget .wpt_widget_content .tab_title a {
    color: #000;
    border-color: transparent;
}
.widget .wpt_widget_content .tab_title.selected a {
    color: #fff!important;
    background: #54366d;
    border-color: #54366d;
}
.widget .wpt_widget_content ul.has-3-tabs li { width: 33.333333% }
.widget .wpt_widget_content ul.wpt-tabs li { border: 0!important }
.widget .wpt_widget_content .wpt-postmeta, .widget .wpt_comment_content, .widget .wpt_excerpt { margin-top: 5px }
#site-footer .widget .wpt_widget_content .wpt-postmeta, #site-footer .widget .wpt_comment_content, #site-footer .widget .wpt_excerpt { color: inherit }
.widget .wpt_widget_content { border: 0 }
.widget .wpt_widget_content .inside {
    border: 0;
    padding-top: 0;
    background: transparent;
}
.widget .wpt_widget_content .tab-content li {
    margin: 0;
    padding: 10px 20px;
    border: 0;
    background: #fff;
    margin-bottom: 2px;
    color: inherit;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.widget .wpt_widget_content .tab-content li:last-child { margin-bottom: 2px }
.widget .wpt_widget_content .tab-content li:first-child { padding-top: 20px }
.widget .wpt_widget_content .tab-content li:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
}
.widget .entry-title a, .widget .post-title a { color: inherit }
.widget .wpt_comment_meta { font-weight: inherit }
.widget .wpt_widget_content #tags-tab-content ul li {
    margin: 8px 8px 0 0!important;
    font-size: 14px;
    padding: 0!important;
    background: transparent;
}
.widget .wpt_widget_content #tags-tab-content ul li a {
    padding: 0 10px;
    color: #fff;
    line-height: 32px;
    border-radius: 20px;
    background: #54366d;
}
.widget .wpt_widget_content #tags-tab-content {
    padding-top: 10px;
    padding-bottom: 18px;
}
.widget .wpt_thumb_small {
    margin-right: 10px;
    margin-bottom: 4px;
}
.widget .wpt_thumb_large { padding-top: 4px }
.widget .wpt_widget_content .wpt-pagination {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #fff;
}
.widget .wpt_widget_content .wpt-pagination a {
    color: inherit;
    font-size: 14px;
}
#site-footer .widget .wpt_widget_content .wpt-pagination {
    padding-bottom: 0;
    background: transparent;
}
#site-footer .widget .wpt_widget_content .wpt-pagination a { margin: 0 }
#site-footer .widget .wpt_widget_content .tab-content li {
    padding: 15px 0 0;
    background: transparent;
    margin-bottom: 0;
    border-bottom: 0;
}
#site-footer .widget .wpt_widget_content .tab-content li:hover { -webkit-box-shadow: none; box-shadow: none }
/*-[ Review Widget ]---------------------------*/
.widget.widget_wp_review_tab { background: transparent }
.widget.widget_wp_review_tab ul { padding: 0 }
.widget .wp_review_tab_widget_content .tab_title a {
    padding: 0;
    line-height: 39px;
    background: #fff;
    border-color: #fff;
    text-transform: uppercase;
}
#site-footer .widget .wp_review_tab_widget_content .tab_title a {
    color: #000;
    border-color: transparent;
}
.widget .wp_review_tab_widget_content .tab_title.selected a {
    color: #fff!important;
    background: #54366d;
    border-color: #54366d;
}
.widget .wp_review_tab_widget_content ul.wp-review-tabs li { border: 0!important }
.widget .wp_review_tab_widget_content { border: 0 }
.widget .wp_review_tab_widget_content .inside {
    border: 0;
    padding-top: 0;
    background: transparent;
}
.widget .wp_review_tab_widget_content .tab-content li {
    margin: 0;
    padding: 10px 20px;
    border: 0;
    background: #fff;
    margin-bottom: 2px;
    color: inherit;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.widget .wp_review_tab_widget_content .tab-content li:first-child { padding-top: 10px }
.widget .wp_review_tab_widget_content .tab-content li:last-child { margin-bottom: 2px }
.widget .wp_review_tab_widget_content .tab-content li:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
}
.widget .review-total-only.small-thumb {
    font-size: 13px;
    font-weight: normal;
    padding: 0;
}
#site-footer .widget .review-total-only.small-thumb {
    background: transparent;
    padding-left: 0;
}
.widget .review-total-only.large-thumb {
    right: 20px;
    color: #fff;
    top: 14px;
}
#site-footer .widget .review-total-only.large-thumb {
    right: 0;
    top: 19px;
}
.widget li:first-child .review-total-only.large-thumb {
    top: 14px;
    right: 20px;
}
#site-footer .widget li:first-child .review-total-only.large-thumb {
    top: 19px;
    right: 0;
}
.widget .wp_review_tab_widget_content ul.has-3-tabs li { width: 33.333333% }
.widget .wp_review_tab_thumb_small {
    margin-right: 10px;
    margin-bottom: 4px;
}
.widget .wp_review_tab_thumb_large { padding-top: 4px }
.widget .wp_review_tab_widget_content .wp-review-tab-pagination {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #fff;
}
.widget .wp_review_tab_widget_content .wp-review-tab-pagination a {
    color: inherit;
    font-size: 14px;
}
#site-footer .widget .wp_review_tab_widget_content .wp-review-tab-pagination {
    padding-bottom: 0;
    background: transparent;
}
#site-footer .widget .wp_review_tab_widget_content .wp-review-tab-pagination a { margin: 0 }
#site-footer .widget .wp_review_tab_widget_content .tab-content li {
    padding: 15px 0 0;
    background: transparent;
    margin-bottom: 0;
    border-bottom: 0;
}
#site-footer .widget .wp_review_tab_widget_content .tab-content li:hover { -webkit-box-shadow: none; box-shadow: none }
#site-footer .wp_review_tab_widget_content .wp-review-tab-postmeta { color: inherit }
/*-[ Form Input ]------------------*/
input, textarea, select {
    padding: 8px 12px;
    font-size: 14px;
    color: #999;
    border: 1px solid #D8D8D8;
    font-family: inherit;
}
textarea {
    overflow: auto;
    resize: vertical;
}
select {
    padding: 6px 10px;
    width: 100%;
    border-color: #D8D8D8;
}
input:focus, textarea:focus {

}
/*-[ Tables ]--------------------*/
table {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    border: 2px solid #F1F4F6;
}
thead {
    background: #F7F8F9;
    font-size: 14px;
    color: #585F65;
}
table th, table td {
    padding: 7px 15px;
    text-align: left;
}
thead th { padding: 14px }
tbody th {
    font-weight: normal;
    border-bottom: 1px solid #F5F7F9;
}
/*-[ Gutenberg Editor ]--------------------*/
/*Table*/
table.wp-block-table {
    border: 0;
    overflow-x: auto;
    display: block;
    margin-bottom: 1.5em;
}
table.wp-block-table th, table.wp-block-table td { border: 2px solid #d8d8d8 }
.wp-block-table tbody {
    width: 100%;
    min-width: 240px;
}
/*Cover Image*/
.wp-block-cover-image.aligncenter {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    margin: 0 0 1.5em;
}
.wp-block-cover-image.alignleft { margin-right: 20px }
.wp-block-cover-image.alignright { margin-left: 20px }
.wp-block-columns { clear: both }
/*PullQuotes*/
body .wp-block-pullquote {
    width: 100%;
    margin: 0;
    padding: 2em 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body .wp-block-pullquote:after { top: 10px }
body .wp-block-pullquote.alignleft {
    margin-right: 0;
    text-align: left;
    max-width: 100%;
}
body .wp-block-pullquote.alignright {
    margin-left: 0;
    max-width: 100%;
    text-align: right;
}
body .wp-block-pullquote > p { font-size: 20px }
/*Gallery*/
.wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption { -webkit-box-sizing: border-box; box-sizing: border-box }
.wp-block-gallery.aligncenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -8px 1.5em;
}
.wp-block-gallery.alignleft { margin: 0 20px 1.5em -8px }
.wp-block-gallery.alignright { margin: 0 -8px 1.5em 20px }
.wp-block-image.is-resized {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.wp-block-image.is-resized img { max-width: 100% }
.ss-full-width .wp-block-image.is-resized {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: -ms-inline-grid;
    -ms-grid-columns: min-content;
}
.ss-full-width .wp-block-image.is-resized img { max-width: none }
/*Button*/
.wp-block-button { margin-bottom: 1.5em!important }
/*Comments*/
.wp-block-latest-comments.aligncenter { text-align: center }
.wp-block-latest-comments.aligncenter .wp-block-latest-comments__comment-excerpt, .wp-block-latest-comments.aligncenter .wp-block-latest-comments__comment-meta { margin-left: 0!important }
.wp-block-latest-comments.aligncenter .wp-block-latest-comments .avatar, .wp-block-latest-comments.aligncenter .wp-block-latest-comments__comment-avatar {
    float: none;
    margin-right: 0;
    display: inline-block;
}
body .wp-block-latest-comments__comment-excerpt p, body .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt, body .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta, body .wp-block-latest-comments__comment-date { font-size: 16px }
.wp-block-latest-comments__comment-date {
    color: inherit;
    padding-top: 10px;
}
/*Archive*/
.wp-block-archives.alignleft { margin-right: 20px }
.wp-block-archives.alignright { margin-left: 2.5em }
/*LatestPosts*/
.wp-block-latest-posts { clear: both }
.wp-block-image figcaption { clear: both }
/*Archive && Categories*/
.wp-block-archives, .wp-block-categories { margin: 1.5em 0 1.571em 2.5em }
.wp-block-categories.alignleft, .wp-block-archives.alignleft { margin-right: 2em }
.wp-block-categories li, .wp-block-archives li { margin-bottom: 5px }
/*-[ Line ]---------------------*/
hr {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    margin: 35px 0;
    clear: both;
    position: relative;
}
/*-[ Search Form ]------------------*/
#searchform {
    float: left;
    clear: both;
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
}
.article #searchform {
    max-width: 300px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.25);
}
#searchform fieldset { float: left }
.sbutton, #searchsubmit {
    float: right;
    width: 16%;
    height: 40px;
    cursor: pointer;
    text-align: center;
    border: 0;
    z-index: 10;
    background: #fff;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
#header .sbutton, #header #searchsubmit {
    width: 40px;
    border-radius: 20px;
    background: transparent;
}
#searchform .fa-search {
    position: absolute;
    top: 9px;
    right: 10px;
    color: #332342;
    font-size: 22px;
}
#s {
    float: left;
    width: 84%;
    padding: 0;
    border: 0;
    line-height: 40px;
    text-indent: 15px;
    color: #999;
    background-color: #fff;
}
/* Search input placeholder text styling */
::-webkit-input-placeholder { color: #999 }
:-moz-placeholder { color: #999 }
::-moz-placeholder { color: #999 }
:-ms-input-placeholder { color: #999 }
:input-placeholder { color: #999 }
/* Microphone icon position fix */
input::-webkit-input-speech-button {
    margin-right: 14px;
    margin-left: 4px;
    cursor: pointer;
}
#searchform fieldset { width: 100% }
.breadcrumb, .rank-math-breadcrumb {
    clear: both;
    overflow: hidden;
    color: #aab2bc;
    font-size: 15px;
    margin-bottom: 20px;
}
.breadcrumb > div {
    float: left;
    display: inline-block;
    padding: 0 5px;
    overflow: hidden;
}
.breadcrumb a, .rank-math-breadcrumb a {
    font-weight: bold;
    color: inherit;
    text-transform: uppercase;
}
.rank-math-breadcrumb p { margin-bottom: 0 }
.rank-math-breadcrumb .separator { padding: 0 3px }
.breadcrumb > div:first-child { padding: 0 }
.no-results h2 { font-size: 16px }
/*-[ Read More ]-------------------*/
.read-more {
    margin: 0 0 0 10px;
    line-height: 1.4em;
    background: none;
    padding: 0;
    font-size: 16px;
}
/*-[ Top Ad in Post ]-------------------------------------*/
.topad {
    margin-bottom: 10px;
    clear: both;
}
/*-[ Bottom Ad in post ]-----------*/
.bottomad {
    float: left;
    clear: both;
    margin-top: 10px;
}
/*-[ Sidebar ]---------------------*/
.sidebar.c-4-12 {
    float: right;
    width: 27.778%;
    max-width: 325px;
    line-height: 20px;
    padding-right: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.widget {
    margin-bottom: 27px;
    float: left;
    clear: both;
    width: 100%;
    background: #fff;
}
.widget .title {
    font-weight: bold;
    text-transform: uppercase;
    color: #545E68;
    font-size: 12px;
}
.widget.mts_ad_300_widget { background: transparent }
.widget ul {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#site-footer .widget ul { padding: 0 }
.widget ul ul { padding: 0 }
.widget li {
    padding: 8px 0;
    border-bottom: 1px solid #aab2bc;
}
.widget li:last-child { border-bottom: 0 }
.widget .children {
    margin-top: 8px;
    border-top: 1px solid #aab2bc;
    padding-left: 10px;
}
.widget .children > li:last-child { border-bottom: 0; padding-bottom: 0 }
#site-footer .widget li {
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.12);
}
#site-footer .widget li:first-child { padding-top: 0 }
#site-footer .widget li:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}
#site-footer .widget .children li:first-child, #site-footer .widget .sub-menu li:first-child { padding-top: 15px }
#site-footer .widget li a { font-weight: 500 }
#site-footer .widget .children {
    margin-top: 15px;
    border-top: 1px solid #4a3c5a;
    padding-left: 10px;
}
#site-footer .widget .children > li:last-child { border-bottom: 0; padding-bottom: 0 }
.widget li a { color: inherit }
#site-footer .widget li a:hover { text-decoration: underline }
.sidebar .widget h3 {
    padding: 11px 20px;
    padding-right: 25px;
    position: relative;
    background: #54366d;
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.sidebar .widget h3:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    -webkit-transform: translateX(-20.5px) skew(-15deg);
    transform: translateX(-20.5px) skew(-15deg);
    width: 26px;
    background-color: inherit;
}
.widget .post-info {
    float: none;
    width: auto;
    clear: none;
    padding-top: 5px;
    line-height: 20px;
    color: #999;
    font-size: 12px;
}
.widget .post-excerpt { padding-top: 5px }
#site-footer .widget .post-excerpt { font-size: 14px }
#site-footer .widget .post-info {
    color: inherit;
    opacity: 0.5;
}
.widget.widget_mts_deals_recent_posts_widget, .widget.widget_single_category_posts_widget, .widget.widget_mts_popular_posts_widget, .widget.widget_mts_recent_posts_widget, .widget.widget_mts_related_posts_widget, .widget.widget_mts_author_posts_widget { background: transparent }
.widget .advanced-recent-posts, .widget .popular-posts, .widget .category-posts, .widget .related-posts-widget, .widget .author-posts-widget, .widget .deals-advanced-recent-posts {
    padding: 0;
    line-height: 1.3;
}
.advanced-recent-posts li, .popular-posts li, .category-posts li, .related-posts-widget li, .author-posts-widget li, .deals-advanced-recent-posts li {
    list-style: none!important;
    padding: 0;
    border: 0;
    position: relative;
    margin-bottom: 2px;
    overflow: hidden;
    background: #fff;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.advanced-recent-posts li:hover, .popular-posts li:hover, .category-posts li:hover, .related-posts-widget li:hover, .author-posts-widget li:hover, .deals-advanced-recent-posts li:hover { -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.5); box-shadow: 0 0 15px 0 rgba(0,0,0,.5) }
#site-footer .advanced-recent-posts li:hover, #site-footer .popular-posts li:hover, #site-footer .category-posts li:hover, #site-footer .related-posts-widget li:hover, #site-footer .author-posts-widget li:hover, #site-footer .deals-advanced-recent-posts li:hover { -webkit-box-shadow: none; box-shadow: none }
.widget li.vertical-small { margin-bottom: 10px }
.widget li.vertical-small .post-img {
    float: left;
    width: 100%;
}
.widget li.vertical-small .post-data {
    float: left;
    width: 100%;
}
.advanced-recent-posts p, .popular-posts p, .category-posts p, .related-posts-widget p, .author-posts-widget p {
    margin: 0;
    font-size: 13px;
}
.widget .meta {
    font-size: 13px;
    color: #777;
    overflow: hidden;
}
.widget .post-img { float: left }
#site-footer .widget .post-img {
    margin-right: 15px;
    margin-bottom: 10px;
}
.widget .post-data {
    padding: 15px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#site-footer .widget .post-data {
    padding: 0;
    overflow: visible;
}
#site-footer .widget li.vertical-small .post-data { padding-top: 5px; }
#site-footer .advanced-recent-posts li, #site-footer .popular-posts li, #site-footer .category-posts li, #site-footer .related-posts-widget li, #site-footer .author-posts-widget li, #site-footer .deals-advanced-recent-posts li {
    border-bottom: 0;
    background: transparent;
    padding-bottom: 0;
    margin-bottom: 0;
}
.deals-advanced-recent-posts .btn-archive-link {
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    background: #88bf5f;
    margin-top: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
}
.deals-advanced-recent-posts .btn-archive-link span { margin-left: -30px }
.deals-advanced-recent-posts .btn-archive-link svg {
    position: absolute;
    top: 0;
    width: 40px;
    height: 48px;
}
/*-[ Social Buttons ]--------------------------*/
.shareit {
    padding: 12px 0 7px;
    clear: both;
    border: none;
    z-index: 1;
    width: 100%;
}
.shareit:after {
    content: "";
    display: block;
    clear: both;
}
.shareit.top {
    padding-top: 0!important;
}
.shareit.top {
    float: right;
    width: auto;
    clear: none;
    text-align: right;
    padding: 25px 0!important;
    padding-left: 2%!important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.page .shareit.top {
    float: left;
    width: 100%;
    clear: both;
    padding: 0!important;
    padding-bottom: 25px!important;
}
.shareit.bottom {
    float: left;
    width: 100%;
    clear: both;
    margin-top: 25px;
}
.shareit.bottom > span { margin-right: 5px }
.single-deals .shareit.bottom {
    float: right;
    width: auto;
    clear: none;
    margin-top: 0;
    padding: 25px 0!important;
    padding-left: 2%!important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.shareit.floating {
    top: 282px;
    left: auto;
    margin: 0 0 0 -112px;
    width: 90px;
    position: fixed;
    padding: 5px;
}
.share-item {
    display: block;
    float: left;
    height: 25px;
    width: 66px;
    text-align: left;
}
.share-item.shareit.top {
    float: left;
    margin-bottom: 10px!important;
    margin-top: 0;
    width: 100%;
}
.share-item.facebookbtn {
    width: 67px;
    height: 28px;
}
.share-item.facebooksharebtn {
    width: 74px;
    height: 28px;
}
.share-item.gplusbtn { width: 37px }
.share-item.twitterbtn { width: 65px }
.share-item.pinbtn {
    width: 56px;
    margin-top: -4px;
}
.shareit.floating .share-item.pinbtn { margin-bottom: 4px }
.share-item.pinbtn a { -webkit-transition: none; transition: none }
.share-item.stumblebtn {
    margin-top: 1px;
    height: 24px;
    width: 75px
}
.share-item .stumble-icon {
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    font-size: 9px;
    background: #eb4823;
    text-align: center;
    line-height: 18px;
    margin-right: 2px;
    vertical-align: middle;
}
.share-item .stumble-text {
    float: left;
    width: 46px;
    height: 16px;
    color: #258DB1;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
    border-radius: 3px;
    background: #eff9fe;
    border: 1px solid #cee4ea;
    font-family: Arial, Helvetica, sans-serif;
}
.share-item.reddit { width: 78px }
.share-item.reddit img {
    margin: 0;
    height: 22px!important;
}
.share-item iframe { max-width: none }
/*-[ Modern Social Buttons ]--------------------------*/
.modern-share-item a {
    float: left;
    background: #0071aa;
    color: #fff !important;
    width: 76px;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
}
.modern-facebooksharebtn a { background: #3b5998 }
.modern-twitterbutton a { background: #00aced }
.modern-gplusbtn a { background: #e64522 }
.modern-pinbtn a { background: #cb2027 }
.modern-linkedinbtn a { background: #007bb6 }
.modern-stumblebtn a { background: #f0473b }
.modern-reddit a { background: #ff5700 }
.modern-share-item .fa {
    font-size: 12px;
    vertical-align: middle;
    margin-right: 4px;
    margin-top: -2px;
}
.modern-twitterbutton .fa { margin-right: 1px }
.modern-share-item {
    display: block;
    float: left;
    height: 25px;
    font-family: arial;
    font-size: 11px;
    margin-bottom: 7px;
}
.modern-share-item.facebooksharebtn { min-width: 78px }
.modern-share-item.facebookbtn { min-width: 64px; margin-top: 3px; }
.shareit.top .modern-share-item, .shareit.bottom .modern-share-item { margin-right: 5px }
/*-[ Social Profile Widget ]--------------------------*/
.sidebar .social-profile-icons .social-profile-icons {
    padding-top: 20px;
    padding-bottom: 13px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.social-profile-icons ul li {
    background: none;
    border: none;
    float: left;
    list-style-type: none;
    margin: 0 7px 7px 0!important;
    padding: 0 !important;
    border: none !important;
}
.social-profile-icons ul li a {
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    color: #FFF!important;
    -webkit-transition: all .4s;
    transition: all .4s;
    padding: 0;
}
.social-profile-icons ul li a:hover {
    color: #fff;
    background: #666;
}
.social-profile-icons ul li i {
    font-size: 16px;
    line-height: 32px;
}
.social-profile-icons .social-youtube a { background: #c9322b }
.social-profile-icons .social-rss a { background: #ef922f }
.social-profile-icons .social-twitter a { background: #40bff5 }
.social-profile-icons .social-facebook a { background: #5d82d1 }
.social-profile-icons .social-gplus a { background: #eb5e4c }
.social-profile-icons .social-vimeo a { background: #35c6ea }
.social-profile-icons .social-dribbble a { background: #f7659c }
.social-profile-icons .social-tumblr a { background: #426d9b }
.social-profile-icons .social-instagram a { background: #91653f }
.social-profile-icons .social-flickr a { background: #ff48a3 }
.social-profile-icons .social-pinterest a { background: #e13138 }
.social-profile-icons .social-linkedin a { background: #238cc8 }
.social-profile-icons .social-github a { background: #b5a470 }
.social-profile-icons .social-email a { background: #1d90dd }
.social-profile-icons .social-behance a { background: #1879fd }
.social-profile-icons .social-skype a { background: #13c1f3 }
.social-profile-icons .social-soundcloud a { background: #ff7e30 }
.social-profile-icons .social-stumbleupon a { background: #ff5c30 }
.social-profile-icons .social-dropbox a { background: #3476e4 }
.social-profile-icons .social-foursquare a { background: #0bbadf }
.social-profile-icons .social-reddit a { background: #ff4400 }
/*-[ Footer ]-------------------*/
#site-footer .footeText {
    width: 960px;
    margin: 22px auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
#site-footer .footeText a {
    color: #fff;
    border-bottom: 2px solid #ee3f02;
}
#site-footer .sidebar .widget .title {
    font-size: 135%;
    color: #D4D8DB;
}
#site-footer .widget {
    padding: 20px 11% 20px 8%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.02);
}
#site-footer .widgets-num-4 .widget { padding: 20px 8% 20px 8%  }
#site-footer {
    position: relative;
    width: 100%;
    overflow: hidden;
    clear: both;
    padding-top: 28px;
}
.footer-header h3 {
    padding: 11px 20px;
    padding-right: 25px;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    background-color: #54366d;
    position: relative;
}
.footer-header h3:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 100%;
    -webkit-transform: translateX(-16.5px) skew(-15deg);
    transform: translateX(-16.5px) skew(-15deg);
    width: 40px;
    background-color: inherit;
}
#site-footer .footer-bottom {
    font-size: 14px;
    margin: 20px 0;
}
.footer-bottom p { margin-bottom: 10px }
.footer-widgets {
    margin: 0 -15px;
    overflow: hidden;
}
#site-footer .widget h3 {
    padding-top: 7px;
    padding-bottom: 17px;
    margin-bottom: 15px;
    line-height: 1;
    border-bottom: 1px solid rgba(255,255,255,0.12);
}
.widget h3 a { color: inherit }
.f-widget {
    float: left;
    width: 33.33333333%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.widgets-num-4 .f-widget { width: 25% }
#site-footer .widgets-num-4 .widget .post-title, #site-footer .widgets-num-4 .widget .post-info, #site-footer .widgets-num-4 .widget .post-excerpt {
    float: left;
    width: 100%;
}
/*.................................
[Footer Menu]
...................................*/
.footer-navigation {
    float: left;
    padding-right: 8px;
}
.footer-navigation ul ul { display: none!important }
.footer-navigation li {
    padding: 0 5px;
    position: relative;
    display: inline-block;
}
.footer-navigation li:before {
    position: absolute;
    content: '-';
    right: -3px;
    top: 0;
    color: #fff;
}
.footer-navigation li:first-child { padding-left: 0 }
.footer-navigation li.wpmm-light-scheme .fa-caret-down { display: none }
#site-footer .footer-navigation li a:hover { background: inherit!important }
#site-footer #wpmm-megamenu.wpmm-visible { display: none; visibility: hidden; }
#site-footer .wpmm-megamenu-showing.wpmm-light-scheme { background: transparent!important;}
#site-footer .menu-item-has-children > a:after { display: none }
.copyrights {
    float: left;
    width: 100%;
    clear: both;
}
#copyright-note {
    padding-top: 18px;
    padding-bottom: 19px;
    border-top: 1px solid rgba(255,255,255,0.12);
}
.copyrights a { color: inherit }
.postsby { margin-bottom: 25px }
/*-[ Back To Top ]---------------------------*/
.to-top {
    float: right;
    position: relative;
}
.toplink .fa-chevron-up {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0px;
}
.toplink { padding-right: 27px }
#move-to-top {
    cursor: pointer;
    display: inline-block;
    position: fixed;
    right: 10px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    z-index: 25;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
    -webkit-backface-visibility: hidden;
    text-align: center;
}
#move-to-top:not(.filling) {
    opacity: 0;
    visibility: hidden;
}
#move-to-top .fa-angle-up {
    position: relative;
    top: 0;
    font-size: 32px;
    line-height: 49px;
    color: #3b3b3b;
}
/*-[ Related Posts ]---------------------------*/
.related-posts {
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 40px;
}
.related-posts h4, .postauthor h4 {
    position: relative;
    padding: 11px 20px;
    padding-right: 25px;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 32px;
}
.related-posts h4:before, .postauthor h4:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    -webkit-transform: translateX(-16.5px) skew(-15deg);
    transform: translateX(-16.5px) skew(-15deg);
    width: 40px;
    background-color: inherit;
}
.related-posts-wrapper { margin: -4.5px; }
.related-posts .featured-thumbnail img { margin: 0!important }
.related-posts .article-content header { word-break:  break-word; }
/*-[ Post Tags ]---------------------------------*/
.tags {
    float: left;
    width: 100%;
    padding: 30px;
    padding-bottom: 20px;
    clear: both;
    margin-bottom: 40px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
}
.tagtext {
    float: left;
    margin-right: 10px;
    line-height: 36px;
}
.tags a {
    float: left;
    padding: 0 15px;
    color: #fff;
    background: #54366d;
    line-height: 36px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
/*-[ Author Box ]--------------------------------*/
.postauthor {
    float: left;
    width: 100%;
    clear: both;
    min-height: 180px;
    margin-bottom: 40px;
}
.postauthor-wrap {
    float: left;
    width: 100%;
    clear: both;
    padding: 30px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
}
.postauthor h5 {
    font-size: 18px;
    text-transform: capitalize;
}
.postauthor h5 a { color: inherit }
.postauthor img {
    float: left;
    margin-right: 25px;
    border-radius: 50%;
}
.postauthor p { overflow: hidden }
.postauthor-top {
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 15px;
}
.clear { clear: both }
.left { float: left }
.right { float: right }
.last { margin-right: 0 }
/*-[ Tag widget ]------------------------------*/
.tagcloud {
    float: left;
    width: 100%;
    padding: 20px;
    padding-bottom: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#site-footer .tagcloud {
    padding: 0;
    padding-top: 20px;
}
.tagcloud a {
    float: left;
    font-size: 14px!important;
    padding: 0 10px;
    line-height: 30px;
    margin-bottom: 8px;
    margin-right: 8px;
    background: #54366d;
    color: #FFFFFF!important;
    border-radius: 20px;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
/*-[ Ad Widgets ]------------------------------*/
.ad-125 ul {
    float: left;
    width: 100%;
    margin: 0;
    list-style: none;
    max-width: 100%;
}
.ad-125 li {
    float: left;
    border: none;
    list-style: none!important;
    padding-left: 0;
    background: none;
    margin-bottom: 15px;
    margin-left: 0;
    max-width: 48%;
}
#site-footer .widget .ad-125 li {
    padding-bottom: 0;
    border-bottom: 0;
    padding-top: 0!important;
}
.ad-125 li:nth-child(2n+1), .ad-125 li:first-child { clear: both }
.ad-125 li:nth-child(2n+2) { float: right!important }
.ad-125 li:nth-last-child(2), .ad-125 li:last-child { margin-bottom: 0 }
/*-[ Calender Widget ]-------------------------*/
#wp-calendar { margin-bottom: 0 }
.sidebar #wp-calendar { margin-top: 10px }
#wp-calendar td {
    text-align: center;
    padding: 7px 0;
    border-top: 1px solid #F1F4F6;
    border-right: 1px solid #F1F4F6;
}
#wp-calendar caption {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}
#wp-calendar #prev {
    text-align: left;
    padding-left: 12px;
}
#wp-calendar #next {
    text-align: right;
    padding-right: 12px;
}
#wp-calendar thead th {
    padding: 10px 0;
    text-align: center;
}
#site-footer #wp-calendar a { color: inherit }
/*-[Comments]--------------*/
.nocomments {
    margin-top: 20px;
    clear: both;
    float: left;
    width: 100%;
    display: none;
}
.cnumber { color: #2DB2EB }
#comments {
    float: left;
    clear: both;
    width: 100%;
}
#comments #comments {
    padding: 40px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
}
#commentsAdd {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 40px;
}
#comments .avatar {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 50%;
}
.comment time { padding-left: 10px }
.comment-author-name { float: left; }
.comment-author-name .fn { float: left; }
ul.children .commentImageLeft {
    width: 60px;
    height: 90px;
    border-left: 1px solid #c1bbb6;
    border-bottom: 1px solid #c1bbb6;
    position: absolute;
    top: -50px;
    left: -70px;
}
input.text-input, #commentform input { padding: 11px }
input#author, input#email, input#url, .contact-form input, .contact-form textarea {
    width: 300px;
    height: 40px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background: #fff;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mtscontact_consent {
    float: left;
    width: 100%;
    clear: both;
    margin-top: 20px;
}
#commentform .comment-form-cookies-consent label, .contact-form .mtscontact_consent label {
    padding: 0;
    padding-top: 2px;
    cursor: pointer;
    display: inline-block;
    margin-left: 8px;
    line-height: 18px;
    vertical-align: top;
}
.contact-form .mtscontact_consent label {
    width: auto;
    margin-top: 0;
    margin-left: 5px;
}
#commentform .comment-form-cookies-consent input, .mtscontact_consent input {
    width: 18px;
    height: 18px;
    -webkit-appearance: checkbox;
}
.ss-full-width input#author, .ss-full-width input#email, .ss-full-width input#url, .ss-full-width .contact-form input { width: 400px }
input#author, input#email, input#url, #comment, .contact-form input, .contact-form textarea { -webkit-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out }
#cancel-comment-reply-link {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    right: 0;
    top: 13px;
    color: #ff0000;
    font-weight: bold;
    text-transform: capitalize;
}
input[type="submit"] {
    display: inline-block;
    min-width: 100px;
    padding: 0;
    border: transparent;
    cursor: pointer;
    background: #88bf5f;
    color: #fff;
    line-height: 35px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#commentform input#submit, .contact-form input[type="submit"] {
    float: left;
    width: auto;
    border-radius: 20px;
    padding-top: 0;
    color: #fff;
    padding-bottom: 0;
    line-height: 40px;
}
form.wp-review-comment-form input, #commentform.wp-review-comment-form input {
    width: 300px;
    height: 40px;
    border-color: #dcdcdc;
    background: #fff;
    padding: 11px;
    font-size: 14px;
}
form.wp-review-comment-form .review-comment-field-msg {
    float: left;
    width: 100%;
    color: #999;
}
.ss-full-width form.wp-review-comment-form input, .ss-full-width #commentform.wp-review-comment-form input { max-width: 450px }
form.wp-review-comment-form textarea, #commentform.wp-review-comment-form textarea {
    background: #fff;
    border-color: #dcdcdc;
    margin-top: 10px;
    font-size: 14px;
    padding: 11px;
    border-radius: 3px;
}
#commentform p.form-submit {
    width: auto;
    margin-top: 2px;
    margin-bottom: 0;
}
.error { color: red }
.thanks p { color: green }
ol.commentlist {
    margin: 0;
    padding: 0;
}
ol.commentlist .navigation {
    float: left;
    width: 100%;
}
ol.commentlist .navigation .alignleft, ol.commentlist .navigation .alignright { margin: 0 }
ol.commentlist > div.navigation:nth-of-type(1) div a {
    float: left;
    margin: 0;
    margin-bottom: 40px;
}
ol.commentlist > div.navigation:nth-last-of-type(1) div a {
    float: left;
    margin: 0;
    margin-top: 40px;
}
.comment, .pingback, .trackback {
    position: relative;
    list-style: none;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.commentlist > .comment, .commentlist .children, .commentlist > .pingback, .commentlist > .trackback {}
.commentlist > .comment:nth-last-of-type(1) { margin-bottom: 0 }
.comment-list {
    float: left;
    width: 100%;
    clear: both;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.commentlist p { margin-bottom: 5px }
.ago {
    color: #999;
    margin-left: 5px;
    font-size: 12px;
}
.fn {
    line-height: 1.375em;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
}
.fn a { color: #000 }
.comment-meta {
    font-size: 12px;
    margin-left: 5px;
    color: #ff0000;
}
.comment-meta a { color: inherit }
.commentmetadata {
    padding-top: 5px;
    overflow: hidden;
}
.commentmetadata li {
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    list-style: square;
    display: list-item!important;
}
.commentmetadata ol li { list-style-type: decimal; }
.wp-review-comment-rating { margin-left: -3px }
#commentform .wp-review-comment-field a i, #commentform .wp-review-comment-field .review-result i, .comment .wp-review-comment-rating .review-result i, .comment .wp-review-comment-rating a i { color: #FFB300!important }
.reply a {
    float: left;
    color: #999;
}
.comment #respond #respond {
    float: left;
    width: 100%;
    clear: both;
    position: relative;
    margin-top: 30px
}
.comment #respond #respond #commentform {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.commentlist .children {
    float: left;
    width: 100%;
    margin: 0;
    margin-top: 30px;
    padding-left: 8.20%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.commentlist .children .children { padding-left: 0 }
.commentlist .children > li:last-child { margin-bottom: 0; }
.avatar { float: left }
#respond h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.comment-awaiting-moderation {
    font-style: italic;
    font-weight: bold;
}
.commentmetadata ul, .commentmetadata ol {
    margin-top: 5px;
    margin-bottom: 10px;
}
.comment-likes-dislikes {
    float: right;
    color: #999;
    font-size: 15px;
}
.post-like, .post-dislike {
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;
}
.post-dislike { margin-right: 0 }
.post-like.active, .post-dislike.active { color: #88bf5f }
.post-like.inactive, .post-dislike.inactive { cursor: default }
/*---[ Tabs ]---*/
.cd-tabs {
    position: relative;
    width: 100%;
    margin: 0;
}
.cd-tabs nav {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.cd-tabs nav {
    position: relative;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.cd-tabs-navigation:after {
    content: "";
    display: table;
    clear: both;
}
.cd-tabs-navigation li { float: left }
.cd-tabs-navigation {
    width: auto;
    margin: 0 !important;
    list-style: none !important;
}
.cd-tabs-navigation h4 {
    margin: 0;
    margin-right: 20px;
}
.cd-tabs-navigation h4 a, #respond h4 {
    position: relative;
    padding: 11px 20px;
    padding-right: 25px;
    color: #000;
    margin-bottom: 32px;
    display: inline-block;
    font-size: 24px;
    line-height: 1.1;
}
.cd-tabs-navigation h4 a:after, #respond h4:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 25px;
    background-color: inherit;
    -webkit-transform: translateX(-16.5px) skew(-15deg);
    transform: translateX(-16.5px) skew(-15deg);
}
.cd-tabs-navigation h4 a.selected {
    background: #88bf5f;
    color: #fff;
}
.cd-tabs-navigation h4 a.selected:after, #respond h4:after, #respond h4 { background: #88bf5f }
#respond h4 { color: #fff }
.article .cd-tabs-content { margin: 0 }
.cd-tabs-content .navigation { float: none }
ul.cd-tabs-content { margin: 0 }
.cd-tabs-content li { display: none; }
.cd-tabs-content li li { display: block; }
.cd-tabs-content li li: last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.cd-tabs-content li.selected {
    display: block;
    -webkit-animation: cd-fade-in 0.5s;
    animation: cd-fade-in 0.5s;
}
.cd-tabs-content #commentsAdd { margin-top: 40px }
#fbcomments {
    overflow: hidden;
    margin: 0 30px 10px;
}
.fb-comments, .fb-comments iframe[style] { width: 100% !important }
#comments .fb_iframe_widget span {
    padding: 20px 0;
    background: #fff;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
}
.navigation .alignleft, .navigation .alignright { margin: 5px 0 15px 0 }
.navigation .alignleft a, .navigation .alignright a { padding: 0 }
#commentform {
    float: left;
    width: 100%;
    clear: both;
    padding: 30px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
}
/*-[ Comment Form ]----------------------------*/
#commentform textarea, .contact-form textarea {
    width: 100%;
    min-height: 100px;
    border: 1px solid #dcdcdc;
    background: #fff;
    float: left;
    padding: 11px;
    line-height: 25px;
    border-radius: 3px;
    font-family: inherit;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#commentform p {
    margin-bottom: 12px;
    float: left;
    width: 100%;
    clear: both;
}
#commentform p label {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}
.cancel-comment-reply a {
    float: right;
    margin-top: -8px;
}
.required {
    color: red;
    padding: 0;
    line-height: 1;
}
.comment-notes .required {
    padding-left: 0;
    padding-top: 3px;
}
.comment-notes {
    font-style: italic }
#commentform .wp-review-comment-field a i, #commentform .wp-review-comment-field .review-result i, .comment .wp-review-comment-rating .review-result i, .comment .wp-review-comment-rating a i {
    color: #FFB300!important }

/*-[ pagination ]------------------*/
.pagination {
    float: left;
    width: 100%;
    clear: both;
    padding: 40px 0;
    display: block!important;
    overflow: hidden;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.single_post .pagination, .single_page .pagination {
    padding-top: 20px;
    padding-bottom: 0;
}
.deals-posts .pagination, .deals-posts #load-posts {
    padding-top: 64px;
    padding-bottom: 24px;
}
.pagination ul {
    list-style: none;
    margin: 0;
}
.pagination ul li {
    float: left;
    margin-bottom: 5px;
}
.pagination ul li.nav-next { float: right }
.pagination .page-numbers.current, .single .pagination > .current {
    float: none;
    width: 50px;
    line-height: 50px;
    color: #fff;
    margin: 0 5px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    background: #54366d;
    border-radius: 50%;
    display: inline-block;
}
.page-numbers.dots {
    float: none;
    min-width: 50px;
    margin: 0 5px;
    display: inline-block;
    line-height: 50px;
}
.pagination a {
    float: none;
    color: #54366d;;
    padding: 0;
    margin: 0 5px;
    min-width: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    font-size: 18px;
    font-weight: normal;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    display: inline-block;
}
.single .pagination a { min-width: 20px; padding: 0 10px; }
.pagination .nav-previous a, .pagination .nav-next a {
    width: auto;
    color: #fff;
    background: #cdccc8;
}
.pagination.navigation i {
    margin: 0;
    font-size: 20px;
}
/*-[ Contact Form ]------------------*/
.contact-form { position: relative }
.contact-form.loading:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}
.contact-form label {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.contact-form label { margin-top: 12px }
.contact-form input[type="submit"] { margin-top: 18px }
.mtscontact_error { color: #B90101 }
/*-[ AJAX search results ]------------------*/
.ajax-search-results-container {
    position: absolute;
    top: 41px;
    left: -1px;
    width: 100%;
    z-index: 9;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-top: none;
}
#header .ajax-search-results-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 40px;
}
.ajax-search-results-container.loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
}
.article .ajax-search-results { margin: 0 }
.ajax-search-results li {
    float: left;
    width: 100%;
    clear: both;
    display: block;
    list-style: none;
    min-height: 50px;
    padding: 10px 14px!important;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
ul.ajax-search-results { padding: 0 }
ul.ajax-search-results a:focus { text-decoration: underline } /*up/down keys navigation*/
.ajax-search-results .wp-post-image {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.ajax-search-meta {
    float: left;
    width: 100%;
    padding: 6px 8px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #dcdcdc;
}
.ajax-search-meta .results-count {
    float: left;
    color: #999;
}
.ajax-search-meta .results-link { float: right }
.ajax-search-results-container .no-results {
    padding: 8px;
    color: #AAA;
    font-style: italic;
}
/*-[ Load More ]-------------------*/
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 3px;
    -webkit-transition: width 0.8s;
    transition: width 0.8s;
    -webkit-backface-visibility: hidden;
}
.admin-bar .pace .pace-progress { top: 32px }
.pace-inactive { display: none }
#load-posts {
    float: left;
    width: 100%;
    padding: 40px 0;
    overflow: hidden;
    text-align: center;
}
#load-posts a {
    float: none;
    line-height: 48px;
    display: inline-block;
    padding: 0px 40px;
    color: #fff;
    background-color: #54366d;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#load-posts a.inactive { cursor: default }
#load-posts .fa { margin-right: 5px }
/*-[ Misc ]---------------------------*/
pre {
    overflow: auto;
    padding: 25px 15px 15px;
    margin: 15px 0;
    position: relative;
    background: #777;
    font-family: monospace;
    color: #fff;
    line-height: 1.3em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
pre:before {
    content: "\f121";
    color: #FFF;
    position: absolute;
    font-size: 18px;
    right: 14px;
    top: 6px;
    font-family: fontawesome;
}
.flex-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-bottom: 30px;
    height: 0;
    overflow: hidden;
    clear: both;
}
.flex-video-vimeo { padding-top: 0 }
.flex-video iframe, .flex-video object, .flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*-[ Parallax & Zoom Out ]--------------------------------*/
#parallax {
    position: relative;
    padding-bottom: 56.3%;
    height: 0;
    background-size: cover;
    margin-top: -20px;
    margin-bottom: 20px;
}
#zoom-out-effect, #zoom-out-bg {
    position: relative;
    padding-bottom: 56.3%;
    height: 0;
}
#zoom-out-effect {
    margin-bottom: 20px;
    margin-top: -20px;
}
#zoom-out-bg {
    background-size: cover;
    width: 100%;
}
/*-[ WP Review ]--------------------------------*/
.latestPost-review-wrapper {
    position: absolute;
    top: 10px;
    right: 0;
    color: #FFF;
    font-size: 12px;
    padding: 0 8px!important;
}
.latestPost .review-result-wrapper i { font-size: 12px; }
.latestPost-review-wrapper .review-total-star { margin: 4px 0 }
.latestPost-review-wrapper .review-result i, #wpmm-megamenu .review-result-wrapper i, #wpmm-megamenu .review-total-only { color: #fff }
.latestPost-review-wrapper .percentage-icon {
    top: 0;
    font-size: inherit;
    font-style: normal;
}
.latestPost .review-type-circle.wp-review-show-total canvas {
    width: 24px;
    height: 24px;
}
.latestPost .review-type-circle.wp-review-show-total {
    height: 36px;
    padding: 6px 7px!important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.review-star { margin: 0!important }
.widget .review-total-only.large-thumb .review-result-wrapper i { color: #fff }
.widget .review-type-circle.wp-review-show-total, #wpmm-megamenu .review-type-circle.wp-review-show-total { height: 25px }
#site-footer .review-total-only {
    padding: 0 8px;
    font-size: 15px;
}
#site-footer .widget .review-type-circle.wp-review-show-total {
    height: 28px;
    padding-top: 6px;
}
/*-[ Dots Loader ]--------------------------------*/
@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }
    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }
    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
.ball-pulse {
    clear: both;
    text-align: center;
}
.ball-pulse > div:nth-child() { -webkit-animation: scale 0.75s -0.36s infinite cubic-bezier(.2, .68, .18, 1.08); animation: scale 0.75s -0.36s infinite cubic-bezier(.2, .68, .18, 1.08) }
.ball-pulse > div:nth-child(1) { -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(.2, .68, .18, 1.08); animation: scale 0.75s -0.24s infinite cubic-bezier(.2, .68, .18, 1.08) }
.ball-pulse > div:nth-child(2) { -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(.2, .68, .18, 1.08); animation: scale 0.75s -0.12s infinite cubic-bezier(.2, .68, .18, 1.08) }
.ball-pulse > div:nth-child(3) { -webkit-animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08); animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08) }
.ball-pulse > div {
    background-color: #3d8fe8;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 1px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
}
.gallery-icon { width: 100% }
.gallery-icon img {
    display: block;
    margin: 0 auto;
    float: none;
}
.gallery-caption { clear: both }
.wp-video, .wp-audio-shortcode { margin: 10px auto }
