html {
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}
/*-----------------------------------------------
/* @media { 	 } queries
/*---------------------------------------------*/
@media screen and (max-width:1330px) { 
	.shareit.floating {
		position: relative;
	    float: right;
	    width: auto;
	    clear: none; 
	    top: 0;
	    left: inherit;
	    margin: 0!important;
	    text-align: right;
	    padding: 25px 0;
	    padding-left: 2%;
	    box-sizing: border-box;
	}
	.page .shareit.floating {
		float: left;
		width: 100%;
		clear: both;
		padding-left: 0;
		padding-bottom: 0;
	}
	.modern-share-item { margin-right: 5px }
}

@media screen and (max-width:1230px) { 
	.call-to-action {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.call-to-action img { margin: -40px 0 }
}
@media screen and (max-width:1170px) { 
	.call-to-action-title { 
		font-size: 40px;
		max-height: 100px; 
	}
	.featuredBox .thecategory {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.featuredBox header, .featuredBox .secondpost header { 
		padding: 20px;
		padding-bottom: 30px; 
	}
	.featuredBox .thirdpost header, .featuredBox .fourthpost header {
		padding: 14px;
		padding-bottom: 20px;
	}
	.featuredBox .thirdpost header, .featuredBox .fourthpost header { padding-bottom: 20px }
	.featuredBox .firstpost .title { font-size: 30px }
	.featuredBox .secondpost .title { font-size: 26px }
	.article-layout-2 .latestPost.post-1 .title, .article-layout-3 .latestPost.post-1 .title, .article-layout-4 .latestPost.post-1 .title, .article-layout-4 .latestPost.post-2 .title, .article-layout-5 .latestPost.post-1 .title, .article-layout-5 .latestPost.post-2 .title, .article-layout-5 .latestPost.post-3 .title { font-size: 26px }
	.clients-controls { 
		width: 100%;
		margin-top: 30px;
		margin-bottom: 10px; 
	}
	.clients-carousel-container { width: 100% }
	.clients-controls-btn { 
		float: left;
		margin-left: 20px; 
	}
	.single_post, .single_page { padding: 30px 20px }
	#zoom-out-effect, #parallax { margin-top: -5px }
	.deals-related-posts { padding: 35px 20px }
	.sidebar.c-4-12 { padding-right: 0 }
	.page-inner {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.widget ul {
		padding-left: 15px;
		padding-right: 15px;
	}
	.sidebar .widget .post-data { overflow: visible }
	.sidebar .widget .post-img img { 
		margin-right: 10px;
		margin-bottom: 5px; 
	}
}
@media screen and (max-width:1024px) { 
	#page, .container {
		padding-left: 1.5%;
		padding-right: 1.5%;
	}
	#move-to-top {
	    margin-right: 0;
	    right: 5px;
	}
	.call-to-action {
		padding-left: 30px;
		padding-right: 30%;
	}
	.call-to-action-text { margin-bottom: 20px }
	.call-to-action-title { margin-bottom: 30px }
	.call-to-action {
		padding-top: 0;
		padding-bottom: 0;
	}
	.call-to-action-left { 
		width: 50%;
		padding-right: 2%;
		margin-top: 30px;
		margin-bottom: 30px;
		box-sizing: border-box; 
	}
	.call-to-action img { 
		width: 50%;
		margin: 0;
	}
	.call-to-action-button a { 
		padding: 0 50px;
		line-height: 40px; 
	}
	.call-to-action-button a svg { height: 40px }
	.widget #wp-subscribe h4.title {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.widget .wp-subscribe-form { margin-bottom: 15px }
	.featuredBox .thirdpost .title { font-size: 20px }
	.widget #wp-subscribe input.email-field, .widget #wp-subscribe input.name-field { padding: 10px 38% 10px 25px; }
	.widget #wp-subscribe input.submit {
		left: 66%;
   		width: 35%;
	}
	.article-layout-2 .latestPost.post-1 .latestPost-layout { min-height: 490px } 
	.article-layout-3 .latestPost.post-1 .latestPost-layout { min-height: 490px }
	.article-layout-4 .latestPost.post-1 .latestPost-layout, .article-layout-4 .latestPost.post-2 .latestPost-layout { min-height: 490px }
	.article-layout-5 .latestPost.post-1 .latestPost-layout, .article-layout-5 .latestPost.post-2 .latestPost-layout, .article-layout-5 .latestPost.post-3 .latestPost-layout { min-height: 490px }
	.featured-category-title { font-size: 22px }
	.featured-category-title:after { width: 24px }
	.sidebar.c-4-12 { padding: 0 }
	.sidebar .widget h3:before { display: none }
	.single-title, .title.entry-title { font-size: 30px!important }
	.featuredBox.deals-featured .firstpost .title { font-size: 40px }
	.featuredBox.deals-featured .secondpost .title { font-size: 24px }
	.featuredBox.deals-featured .thirdpost .title, .featuredBox.deals-featured .fourthpost .title { font-size: 20px }
	.featuredBox.deals-featured .thirdpost .deals-button, .featuredBox.deals-featured .fourthpost .deals-button  {
		padding: 0 20px;
		margin-top: 20px;
		font-size: 14px;
	}
	.featuredBox.deals-featured .thirdpost .deals-button svg, .featuredBox.deals-featured .fourthpost .deals-button svg { width: 26px }
	.deals-related-posts h4 { 
		font-size: 25px;
		margin: 25px 0; 
	}
	.deals-related-posts .btn-archive-link { top: 17px }
	.deals-related-posts .single-thumbnail, .deals-thumbnail {
		width: 35%;
		margin-right: 0;
	}
	.content-container {
		width: 62%;
    	float: right;
	}
	.deals-related-post.latestPost .title { margin-top: 0 }
	#comments #comments { padding: 40px 20px }
	.cd-tabs-navigation h4 a, #respond h4 {
		padding: 11px 15px;
		padding-right: 20px;
		font-size: 20px;
	}
	.postauthor p { overflow: visible }
	.pagination a {
		min-width: 40px;
		line-height: 40px;
		font-size: 16px;
		margin: 0 3px;
	}
	.pagination .page-numbers.current, .single .pagination > .current {
		width: 40px;
    	line-height: 40px;
    	font-size: 16px;
    	margin: 0 3px;
	}
	.single-deals-button a {
		padding: 9px 30px;	
		line-height: 35px;
	}
	.single-deals-button a svg {
		width: 35px;
    	height: 35px;
	}
	#site-footer .widget {
		padding-left: 4%!important;
		padding-right: 4%!important;
	}
	.deals-advanced-recent-posts .btn-archive-link {
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 14px;
	}
	.deals-advanced-recent-posts .btn-archive-link svg {
		width: 30px;
    	height: 34px;
	}
	.widget-single-subscribe .widget #wp-subscribe h4.title { font-size: 24px }
	.widget-single-subscribe .widget #wp-subscribe input.email-field, .widget-single-subscribe .widget #wp-subscribe input.name-field { font-size: 15px }
	.widget-single-subscribe .widget #wp-subscribe input.submit {
		width: 38%;
		left: 62%;
	}
	#site-header .social-buttons {
		clear: left;
		float: left;
		padding-top: 0;
	}
	.login-signup, .login-wrap { padding-top: 0 }
	.article-layout-2 .latestPost, .article-layout-3 .latestPost, .article-layout-4 .latestPost { height: 260.5px }
}
@media screen and (max-width:960px) { 
	img {
	    max-width: 100%;
	    height: auto!important;
	}
	.ad-300 img { max-width: 100% }
	.ad-125 li { max-width: 40% }
	.ad-125 img {
	    padding: 0;
	    background: #FAFAFA;
	    border: 0;
	}
	.sidebar .widget .post-data {
		float: left;
	    padding: 5px 10px;
	    padding-bottom: 10px;
	}
	.article-content { padding: 15px }
	.article-layout-1 .latestPost .title, .article-layout-2 .latestPost .title, .article-layout-3 .latestPost .title, .article-layout-4 .latestPost .title, .article-layout-5 .latestPost .title, .article-layout-6 .latestPost .title, .article-layout-7 .latestPost .title { font-size: 17px!important }
	.article-layout-2 .latestPost.post-1 .title, .article-layout-3 .latestPost.post-1 .title, .article-layout-4 .latestPost.post-1 .title, .article-layout-4 .latestPost.post-2 .title, .article-layout-5 .latestPost.post-1 .title, .article-layout-5 .latestPost.post-2 .title, .article-layout-5 .latestPost.post-3 .title { font-size: 23px!important }
	.single-meta-info { 
		float: none;
		width: auto; 
		margin-top: 0;
	}
	.shareit.top, .shareit.floating { 
		width: 100%; 
		padding-top: 0!important;
		padding-bottom: 0!important;
		padding-left: 96px!important;
	}
	.widget ul {
		padding-left: 10px;
		padding-right: 10px;
	}
	.article-layout-2 .latestPost, .article-layout-3 .latestPost, .article-layout-4 .latestPost { height: 240.5px }
	.featuredBox .firstpost { 
		width: 100%;
		clear: both; 
		margin-bottom: 4.5px;
	}
	.featuredBox .secondpost { 
		width: 50%;
	    padding-left: 0;
	    padding-right: 4.5px;
	}
	.featuredBox .thirdpost {
		width: 25%;
		padding-left: 0;
		padding-right: 4.5px;
	}
	.featuredBox .fourthpost {
		width: 25%;
		padding: 0;
	}
	.featuredBox .firstpost .featured-thumbnail { min-height: 400px!important }
}
@media screen and (min-width:865px) { 
	.navigation.mobile-only { display: none }
}
@media screen and (max-width:865px) { 
	#secondary-navigation { padding: 30px 0 }
	.mts-cart span a { padding-bottom: 0 }
	.mts-cart {
	    float: none;
	    text-align: center!important;
	}
	.header-layout-2 #header h1, .header-layout-2  #header h2, .header-layout-2  .site-description {
	    float: none;
	    text-align: center;
	    width: 100%;
	    max-width: 100%;
	    padding: 0;
	}
	.header-layout-2 #logo a, .header-layout-2 #logo img {
	    float: none;
	    letter-spacing: 0;
	}
	.header-layout-2 .logo-wrap {
	    margin-bottom: 10px;
	    margin-top: 0;
	    width: 100%;
	}
	.navigation {
	    width: 100%;
	    border: none;
	    display: none;
	}
	.navigation .menu {
	    display: block!important;
	    float: none;
	    background: transparent;
	    margin-bottom: 45px;
	}
	.navigation ul ul {
	    visibility: visible!important;
	    opacity: 1!important;
	    position: relative;
	    left: 0!important;
	    border: 0;
	    margin: 0;
	    width: 100%;
	    box-shadow: none;
	}
	.navigation ul ul:before { display: none }
	.navigation .menu-item-has-children > a { padding-right: 0 }
	.navigation ul li li {
	    background: transparent;
	    border: 0;
	}
	#navigation { height: auto }
	#navigation li, .navigation ul li li {
	    width: 100%!important;
	    float: left;
	    position: relative;
	}
	.navigation ul li:after { display: none }
	.navigation ul li:before { display: none }
	#navigation li a {
	    border-bottom: 1px solid rgba(255, 255, 255, 0.25)!important;
	    width: 100%!important;
	    box-sizing: border-box;
	}
	#navigation a {
	    text-align: left;
	    width: 100%;
	    text-indent: 25px;
	}
	a#pull {
	    display: block;
	    color: #fff;
	    padding-left: 0!important;
	    position: relative;
	}
	a#pull:after {
	    content: "\f0c9";
	    display: inline-block;
	    position: absolute;
	    right: -15px;
	    top: -1px;
	    font-family: FontAwesome;
	}
	.navigation ul .sfHover a, .navigation ul li:hover, .navigation ul .sfHover ul li { background: transparent }
	/*disable flayout*/
	#catcher { height: 0 !important }
	.sticky-navigation-active {
	    position: relative !important;
	    top: 0 !important;
	}
	#header { padding: 0 1.5% }
	/*-[ Responsive Navigation ]--------------------------------*/
	.main-container {
	    position: relative;
	    left: 0;
	    transition: left 500ms ease;
	}
	.mobile-menu-active .main-container {
	    left: 300px;
	    transition: left 500ms ease;
	}
	.navigation.mobile-menu-wrapper {
	    display: block;
	    position: fixed;
	    top: 0;
	    left: -300px;
	    width: 300px;
	    height: 100%;
	    box-sizing: border-box;
	    border-right: 1px solid rgba(0, 0, 0, 0.15);
	    overflow: auto;
	    transition: left 500ms ease;
	    -webkit-backface-visibility: hidden;
	}
	.admin-bar .navigation.mobile-menu-wrapper {
		top: 32px;
	}
	.mobile-menu-active .navigation.mobile-menu-wrapper {
	    left: 0;
	    z-index: 1111;
	}
	.navigation ul li {
	    width: 100%;
	    display: block;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	}
	.navigation ul li:hover { background: none }
	.navigation ul li a, .navigation ul ul a {
	    padding: 9px 0;
	    width: 100%;
	    margin: 0;
	    border: none;
	}
	.navigation ul ul {
	    position: static;
	    width: 100%;
	    border: none;
	}
	.navigation ul ul li {
	    padding: 0;
	    width: 100%;
	    background: none;
		border-top: 1px solid rgba(255, 255, 255, 0.25);
	}
	.navigation i { display: inline }
	.toggle-menu .toggle-caret .fa { margin-right: 0 }
	#secondary-navigation a { 
		padding-left: 20px;
		border-bottom: 0; 
		border-radius: 0;
		box-sizing: border-box;
	}
	#secondary-navigation .navigation ul ul a, #secondary-navigation .navigation ul ul a:link, #secondary-navigation .navigation ul ul a:visited { color: #fff }
	.navigation ul ul a {
	    padding: 9px 30px !important;
	    width: 100%!important;
	}
	.navigation ul ul ul a { padding: 9px 35px !important }
	#header #secondary-navigation a {
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.navigation .toggle-caret {
	    top: 0;
	    right: 0;
	    width: 39px;
	    height: 42px;
	    line-height: 42px;
	    display: block;
	    font-size: 14px;
	    color: inherit;
	    color: #fff;
	    border-left: 1px solid rgba(255, 255, 255, 0.25);
	}
	.navigation .menu-item-has-children > a:after { content: '' }
	#mobile-menu-overlay {
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    z-index: 999;
	    cursor: pointer;
	    display: none;
	    backface-visibility: hidden;
	    background: rgba(0,0,0,.5);
	}
	html.noscroll {
	    position: fixed;
	    overflow-y: scroll;
	    width: 100%;
	}
	#header #secondary-navigation li:hover a { background: transparent!important }
	#site-header .social-buttons {
		clear: none;
		float: right;
		padding-top: 24px;
	}
	.login-signup, .login-wrap { padding-top: 25px }
	/*-[ Mega Menu ]--------------------------------*/
	#wpmm-megamenu .wpmm-subcategories {
	    width: 100%;
	    text-indent: 0;
	}
	#wpmm-megamenu .wpmm-posts { width: 100% }
	#wpmm-megamenu .wpmm-post {
	    width: 100%!important;
	    padding: 0 10px!important;
	    text-align: center!important;
	}
	#wpmm-megamenu .wpmm-thumbnail img { float: left }
	#wpmm-megamenu.wpmm-visible { display: none }
	.deals-related-post.latestPost .title { margin-top: 0 }
	#site-footer .widget { font-size: 15px!important }
	#site-footer .widget .post-title {
		float: left;
		width: 100%;
	}
	#site-footer .widget .post-info {
		float: left;
		width: 100%;
	}
	#site-footer .widget .post-excerpt { float: left }
	.bypostauthor:after { display: none }
	.article-content header { height: 70px }
	/*Layout 2*/
	.article-layout-2 .latestPost.post-1 .latestPost-layout { min-height: 550px }
	.article-layout-2 .latestPost { width: 50% }
	.article-layout-2 .latestPost:nth-of-type(4n+2) { clear: none } 
	.article-layout-2 .latestPost:nth-of-type(2n) { clear: left } 
	.article-layout-2 .latestPost:nth-of-type(2) { clear: none } 
	/*Layout 3*/
	.article-layout-3 .latestPost { width: 25% }
	.article-layout-3 .latestPost.post-1 { width: 50% }
	.article-layout-3 .latestPost:nth-of-type(6n+4) { clear: none } 
	.article-layout-3 .latestPost:nth-of-type(4n+2) { clear: left } 
	.article-layout-3 .latestPost:nth-of-type(2) { clear: none } 
	/*Layout 4*/
	.article-layout-4 .latestPost { width: 33.33333% }
	.article-layout-4 .latestPost:nth-of-type(3n+2) { clear: left }
	.article-layout-4 .latestPost:nth-of-type(2) { clear: none }
	/*Layout 5*/
	.article-layout-5 .latestPost { width: 25% }
	.article-layout-5 .latestPost:nth-of-type(4n) { clear: left }
	/*Layout 6*/
	.article-layout-6 .latestPost { width: 33.333333% }
	.article-layout-6 .latestPost:nth-of-type(4n+1) { clear: none }
	.article-layout-6 .latestPost:nth-of-type(3n+1) { clear: left }
	/*Layout 7*/
	.article-layout-7 .latestPost { width: 25% }
	.article-layout-7 .latestPost:nth-of-type(6n+1) { clear: none }
	.article-layout-7 .latestPost:nth-of-type(4n+1) { clear: left }
	
	.article-layout-2 .latestPost { height: 276.5px }
	.article-layout-4 .latestPost { height: inherit }
}
@media screen and (max-width:800px) { 
	.admin-bar .pace .pace-progress { top: 46px }
	html #wpadminbar { position: fixed }
	.featuredBox .widget #wp-subscribe { padding: 30px }
	.featuredBox .secondpost { 
		width: 100%;
	    padding-right: 0;
	}
	.featuredBox .thirdpost, .featuredBox .fourthpost { width: 50% }
	.featuredBox .thirdpost header, .featuredBox .fourthpost header { padding: 15px }
	.related-posts .latestPost { width: 50% }
	.related-posts .latestPost:nth-of-type(2n+1) { clear: left }
	.call-to-action-left { width: 46% }
	.call-to-action img { width: 54% }
	.call-to-action-text { margin-bottom: 5px }
	.call-to-action-title { 
		font-size: 30px;
		max-height: 75px;
		margin-bottom: 15px; 
	}
	.call-to-action-button a { 
		padding: 0 30px;
		font-size: 16px; 
	}
	.call-to-action-button a svg { width: 30px }
	#deals-archive .latestPost { width: 100% }
	.deals-thumbnail {
		width: auto;
		margin-right: 15px;
	}
	#deals-archive .content-container {
		float: none;
    	width: auto;
	}
	html body { font-size: 15px }
}
@media screen and (max-width:782px) {
	.admin-bar .navigation.mobile-menu-wrapper {
		top: 46px;
	}
}
@media screen and (min-width:400px) {
	.widget-header .adcode-widget {
		width: 320px;
		height: 100px;
	}
}
@media screen and (min-width:550px) {
	.widget-header .adcode-widget {
		width: 468px;
		height: 60;
	}
}
@media screen and (min-width:985px) {
	.widget-header .adcode-widget {
		width: 728px;
		height: 90;
	}
}
@media screen and (max-width:720px) { 
	.article, .article, .home article.article { 
		float: none;
		overflow: hidden;
		width: 100%;
	}
	.sidebar.c-4-12 {
	    float: none;
	    width: 100%;
	    max-width: 300px;
	    margin: 0 auto;
	}
	.widget ul {
		padding-left: 20px;
		padding-right: 20px;
	}
	.f-widget, .widgets-num-4 .f-widget { width: 50% }
	.sidebar .widget h3:before { display: block } 
	#content_box {
	    padding-right: 0px;
	    padding-left: 0px!important;
	}
	.ad-125 li { max-width: 45% }
	#comments { margin-right: 0 }
	.article-layout-2 .latestPost.post-1 { width: 100% }
	.article-layout-2 .latestPost.post-1 .latestPost-layout { min-height: 490px }
	.article-layout-2 .latestPost { height: 246px }
	
	.article-layout-4 .latestPost.post-1, .article-layout-4 .latestPost.post-2 { width: 50% }
	.article-layout-4 .latestPost:nth-of-type(3n+2) { clear: none }
	.article-layout-4 .latestPost:nth-of-type(3n) { clear: left }
	
	.article-layout-5 .latestPost { height: 215px }
	.article-layout-5 .latestPost.post-1, .article-layout-5 .latestPost.post-2, .article-layout-5 .latestPost.post-3 { 
		width: 50%;
		height: inherit; 
	}
	.article-layout-5 .latestPost:nth-of-type(4) { clear: none }

	.article-layout-6 .latestPost { width: 50% }	
	.article-layout-6 .latestPost:nth-of-type(3n+1) { clear: none }
	.article-layout-6 .latestPost:nth-of-type(2n+1) { clear: left }
	.call-to-action-text { margin-bottom: 10px }
	.call-to-action-title { margin-bottom: 20px }
	.call-to-action { padding-left: 20px }
	.sidebar .widget .post-data { float: none }
	.single-meta-info { 
		float: left;
		width: 40%; 
		margin-top: 12px;
	}
	.shareit.top, .shareit.floating { 
		width: auto;
		padding-top: 25px!important;
		padding-bottom: 25px!important;
		padding-left: 0!important; 
	}
	.featuredBox .firstpost .featured-thumbnail { min-height: 300px!important }
}
@media screen and (max-width:640px) {
	.single-meta-info { 
		float: none;
		width: auto; 
		margin-top: 0;
	}
	.shareit.top, .shareit.floating { 
		width: 100%;
		padding-top: 0!important;
		padding-bottom: 0!important;
		padding-left: 96px!important; 
	}
} 
@media screen and (max-width:600px) { 
	.admin-bar .pace .pace-progress { top: 0px }

	.latestPost { width: 50% }
	.article-layout-1 .latestPost:nth-of-type(4n+1) { clear: none }
	.article-layout-1 .latestPost:nth-of-type(2n+1) { clear: left }
	.article-layout-3 .latestPost { 
		width: 50%;
		height: 280px; 
	}
	.article-layout-3 .latestPost.post-1 .latestPost-layout { min-height: 550px }

	.article-layout-5 .latestPost { 
		width: 50%;
		height: inherit; 
	}
	.article-layout-5 .latestPost:nth-of-type(4n) { clear: none }
	.article-layout-5 .latestPost:nth-of-type(2n) { clear: left }
	.article-layout-5 .latestPost:nth-of-type(2), .article-layout-5 .latestPost:nth-of-type(4) { clear: none }

	.article-layout-7 .latestPost { width: 50% }
	.article-layout-7 .latestPost:nth-of-type(4n+1) { clear: none }
	.article-layout-7 .latestPost:nth-of-type(2n+1) { clear: left }
	.call-to-action-left { 
		margin-top: 20px;
		margin-bottom: 20px; 
	}
	.call-to-action-text { font-size: 16px }
	.call-to-action-title {
		font-size: 24px;
		max-height: 60px;
	}
	.deals-thumbnail { width: 35% }
	.content-container { width: 61% }
	#site-header .social-buttons {
		clear: left;
		float: left;
		padding-top: 0;
	}
	.login-signup, .login-wrap { padding-top: 0 }
}
@media screen and (max-width:550px) { 
	.sbutton { float: right }
	.featuredBox .widget #wp-subscribe { padding: 20px }
	.article-layout-2 .article { width: 100% }
	.article-layout-2 .latestPost.post-1 { width: 50% }
	.article-layout-2 .latestPost.post-1 .latestPost-layout { min-height: 528px }
	.article-layout-2 .latestPost { height: inherit }
	.article-layout-6 .article { width: 100% }
	.article-layout-2 .sidebar.c-4-12, .article-layout-6 .sidebar.c-4-12 { 
		width: 100%;
		max-width: 325px;
		float: none;
		margin: 0 auto;
	}
	.call-to-action { padding: 0 }
	.call-to-action img, .call-to-action:after { display: none }
	.call-to-action-left {
		float: none;
		width: 100%;
		padding: 0 2%;
		margin-top: 30px;
		margin-bottom: 34px;
		text-align: center;
	}
	.call-to-action-text { font-size: 20px }
	.call-to-action-title {
		font-size: 30px;
		max-height: 75px;
	}
	.client-title { font-size: 15px }
	#copyright-note { text-align: center }
	.footer-navigation {
		float: none;
		padding-right: 0;
	}
	.to-top { float: none }
	.featuredBox .thirdpost, .featuredBox .fourthpost { 
    	padding: 0; 
		width: 100%;
		max-width: 100%;
	}
	.featuredBox .thirdpost { margin-bottom: 4.5px }
}
@media screen and (max-width:480px) { 
	#navigation { border-bottom: 0 }
	.navigation {
	    margin-top: 0;
	    margin-bottom: 0;
	}
	.f-widget, .widgets-num-4 .f-widget {
	    float: none;
		width: 100%;
	    max-width: 330px;
	    margin: 0 auto;
	}
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
	    width: 100%;
	    margin-right: 0;
	}
	.copyrights { text-align: center }
	.top { width: 100% }
	.article-layout-2 .latestPost.post-1, .article-layout-3 .latestPost.post-1, .article-layout-4 .latestPost.post-1, .article-layout-4 .latestPost.post-2, .article-layout-5 .latestPost.post-1, .article-layout-5 .latestPost.post-2, .article-layout-5 .latestPost.post-3 { width: 100% } 
	.article-layout-3 .latestPost { height: 250px }
	.article-layout-4 .latestPost { width: 50% }
	.article-layout-4 .latestPost:nth-of-type(3n) { clear: none }
	.article-layout-4 .latestPost:nth-of-type(2n+1) { clear: left }
	.deals-related-posts .single-thumbnail, .deals-thumbnail { width: 40% }
	.content-container {
		float: left;
		width: 100%;
	}
	#deals-archive .content-container {
		float: left;
    	width: 100%;
	}
	.commentlist .children { padding-left: 0 }
}
@media screen and (max-width:400px) { 
	.call-to-action-text { font-size: 16px }
	.call-to-action-title {
		font-size: 26px;
		max-height: 65px;
	}
	.cd-tabs-navigation h4 a, #respond h4 {
		font-size: 15px;
		padding-left: 10px;
		padding-right: 17px;
	}
	.cd-tabs-navigation h4 { margin-right: 0 }
	.cd-tabs-navigation h4 a:after, #respond h4:after { display: none }
}

@media screen and (min-width: 1420px) {
	.call-to-action:after { width: 280px; left:38% }
}
