@font-face {
	font-family: linecons;
	src: url(fonts/linecons.eot);
	src: url(fonts/linecons.eot?#iefix) format('embedded-opentype'), url(fonts/linecons.ttf) format('truetype'), url(fonts/linecons.woff) format('woff'), url(fonts/linecons.svg#linecons) format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
[class*=" linecon-icon-"],
[class^=linecon-icon-] {
	font-family: linecons;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.linecon-icon-heart:before {
	content: "\e600"
}
.linecon-icon-cloud:before {
	content: "\e601"
}
.linecon-icon-star:before {
	content: "\e602"
}
.linecon-icon-tv:before {
	content: "\e603"
}
.linecon-icon-sound:before {
	content: "\e604"
}
.linecon-icon-video:before {
	content: "\e605"
}
.linecon-icon-trash:before {
	content: "\e606"
}
.linecon-icon-user:before {
	content: "\e607"
}
.linecon-icon-key:before {
	content: "\e608"
}
.linecon-icon-search:before {
	content: "\e609"
}
.linecon-icon-eye:before {
	content: "\e60a"
}
.linecon-icon-bubble:before {
	content: "\e60b"
}
.linecon-icon-stack:before {
	content: "\e60c"
}
.linecon-icon-cup:before {
	content: "\e60d"
}
.linecon-icon-phone:before {
	content: "\e60e"
}
.linecon-icon-news:before {
	content: "\e60f"
}
.linecon-icon-mail:before {
	content: "\e610"
}
.linecon-icon-like:before {
	content: "\e611"
}
.linecon-icon-photo:before {
	content: "\e612"
}
.linecon-icon-note:before {
	content: "\e613"
}
.linecon-icon-food:before {
	content: "\e614"
}
.linecon-icon-t-shirt:before {
	content: "\e615"
}
.linecon-icon-fire:before {
	content: "\e616"
}
.linecon-icon-clip:before {
	content: "\e617"
}
.linecon-icon-shop:before {
	content: "\e618"
}
.linecon-icon-calendar:before {
	content: "\e619"
}
.linecon-icon-wallet:before {
	content: "\e61a"
}
.linecon-icon-vynil:before {
	content: "\e61b"
}
.linecon-icon-truck:before {
	content: "\e61c"
}
.linecon-icon-world:before {
	content: "\e61d"
}
.linecon-icon-clock:before {
	content: "\e61e"
}
.linecon-icon-paperplane:before {
	content: "\e61f"
}
.linecon-icon-params:before {
	content: "\e620"
}
.linecon-icon-banknote:before {
	content: "\e621"
}
.linecon-icon-data:before {
	content: "\e622"
}
.linecon-icon-music:before {
	content: "\e623"
}
.linecon-icon-megaphone:before {
	content: "\e624"
}
.linecon-icon-study:before {
	content: "\e625"
}
.linecon-icon-lab:before {
	content: "\e626"
}
.linecon-icon-location:before {
	content: "\e627"
}
.linecon-icon-display:before {
	content: "\e628"
}
.linecon-icon-diamond:before {
	content: "\e629"
}
.linecon-icon-pen:before {
	content: "\e62a"
}
.linecon-icon-bulb:before {
	content: "\e62b"
}
.linecon-icon-lock:before {
	content: "\e62c"
}
.linecon-icon-tag:before {
	content: "\e62d"
}
.linecon-icon-camera:before {
	content: "\e62e"
}
.linecon-icon-settings:before {
	content: "\e62f"
}