/*
 * jQuery UI CSS Framework 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height: 1% }
.ui-helper-clearfix { display: block }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter: Alpha(Opacity=0); }
/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important }
/* Icons
----------------------------------*/
/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; width: 16px; height: 16px; background-image: url(../img/icon_sprite.png);}
/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/*
 * jQuery UI CSS Framework 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ctl=themeroller
 */
/* Component containers
----------------------------------*/
.ui-widget { font-family: Arial,sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial,sans-serif; font-size: 1em; }
.ui-widget .ui-accordion-content input, .ui-widget .ui-accordion-content select, .ui-widget .ui-accordion-content textarea, .ui-widget .ui-accordion-content button { margin: 0; margin-top: 5px; }
.ui-widget-content { border: 1px solid #B6B6B6; background: #ffffff; color: #4F4F4F; }
.ui-widget-content a { color: #4F4F4F }
.ui-widget-header { border: 1px solid #B6B6B6; color: #4F4F4F; font-weight: bold; }
.ui-widget-header { background: #ededed url(images/bg_fallback.png) 0 0 repeat-x; background: linear-gradient(top, #ededed 0%,#c4c4c4 100%) /* W3C */ ; }
.ui-widget-header a { color: #4F4F4F }
/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #B6B6B6; font-weight: normal; color: #4F4F4F; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { /* Old browsers */ background: #F0F0F0; box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;  }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #4F4F4F; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #9D9D9D; font-weight: normal; color: #313131; }
.ui-state-hover a, .ui-state-hover a:hover { color: #313131; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { outline: none; nowhitespace: afterproperty; color: #1c4257; nowhitespace: afterproperty; border: 1px solid #7096ab; /* FF3.6+ */ nowhitespace: afterproperty; /* Chrome10+,Safari5.1+ */ nowhitespace: afterproperty; /* IE10+ */ nowhitespace: afterproperty; /* W3C */ box-shadow: none; ; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #313131; text-decoration: none; }
.ui-widget :active { outline: none }
/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { border: 1px solid #d2dbf4; background: #f4f8fd; color: #0d2054; border-radius: 0 !important; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a { color: #363636 }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error { border: 1px solid #e2d0d0; background: #fcf0f0; color: #280b0b; border-radius: 0 !important; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary { opacity: .7; filter: Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter: Alpha(Opacity=35); background-image: none; }
/* Icons
----------------------------------*/
/* states and images */
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon { background: url(../img/icon_sprite.png) -16px 0 no-repeat !important }
.ui-state-highlight .ui-icon, .ui-state-error .ui-icon { margin-top: -1px }
/* positioning */
.ui-icon-carat-1-n { background-position: 0 0 }
.ui-icon-carat-1-ne { background-position: -16px 0 }
.ui-icon-carat-1-e { background-position: -32px 0 }
.ui-icon-carat-1-se { background-position: -48px 0 }
.ui-icon-carat-1-s { background-position: -64px 0 }
.ui-icon-carat-1-sw { background-position: -80px 0 }
.ui-icon-carat-1-w { background-position: -96px 0 }
.ui-icon-carat-1-nw { background-position: -112px 0 }
.ui-icon-carat-2-n-s { background-position: -128px 0 }
.ui-icon-carat-2-e-w { background-position: -144px 0 }
.ui-icon-triangle-1-n { background-position: 0 -16px }
.ui-icon-triangle-1-ne { background-position: -16px -16px }
.ui-icon-triangle-1-e { background-position: -32px -16px }
.ui-icon-triangle-1-se { background-position: -48px -16px }
.ui-icon-triangle-1-s { background-position: -64px -16px }
.ui-icon-triangle-1-sw { background-position: -80px -16px }
.ui-icon-triangle-1-w { background-position: -96px -16px }
.ui-icon-triangle-1-nw { background-position: -112px -16px }
.ui-icon-triangle-2-n-s { background-position: -128px -16px }
.ui-icon-triangle-2-e-w { background-position: -144px -16px }
.ui-icon-arrow-1-n { background-position: 0 -32px }
.ui-icon-arrow-1-ne { background-position: -16px -32px }
.ui-icon-arrow-1-e { background-position: -32px -32px }
.ui-icon-arrow-1-se { background-position: -48px -32px }
.ui-icon-arrow-1-s { background-position: -64px -32px }
.ui-icon-arrow-1-sw { background-position: -80px -32px }
.ui-icon-arrow-1-w { background-position: -96px -32px }
.ui-icon-arrow-1-nw { background-position: -112px -32px }
.ui-icon-arrow-2-n-s { background-position: -128px -32px }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px }
.ui-icon-arrow-2-e-w { background-position: -160px -32px }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px }
.ui-icon-arrowstop-1-n { background-position: -192px -32px }
.ui-icon-arrowstop-1-e { background-position: -208px -32px }
.ui-icon-arrowstop-1-s { background-position: -224px -32px }
.ui-icon-arrowstop-1-w { background-position: -240px -32px }
.ui-icon-arrowthick-1-n { background-position: 0 -48px }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px }
.ui-icon-arrowthick-1-e { background-position: -32px -48px }
.ui-icon-arrowthick-1-se { background-position: -48px -48px }
.ui-icon-arrowthick-1-s { background-position: -64px -48px }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px }
.ui-icon-arrowthick-1-w { background-position: -96px -48px }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px }
.ui-icon-arrow-4 { background-position: 0 -80px }
.ui-icon-arrow-4-diag { background-position: -16px -80px }
.ui-icon-extlink { background-position: -32px -80px }
.ui-icon-newwin { background-position: -48px -80px }
.ui-icon-refresh { background-position: -64px -80px }
.ui-icon-shuffle { background-position: -80px -80px }
.ui-icon-transfer-e-w { background-position: -96px -80px }
.ui-icon-transferthick-e-w { background-position: -112px -80px }
.ui-icon-folder-collapsed { background-position: 0 -96px }
.ui-icon-folder-open { background-position: -16px -96px }
.ui-icon-document { background-position: -32px -96px }
.ui-icon-document-b { background-position: -48px -96px }
.ui-icon-note { background-position: -64px -96px }
.ui-icon-mail-closed { background-position: -80px -96px }
.ui-icon-mail-open { background-position: -96px -96px }
.ui-icon-suitcase { background-position: -112px -96px }
.ui-icon-comment { background-position: -128px -96px }
.ui-icon-person { background-position: -144px -96px }
.ui-icon-print { background-position: -160px -96px }
.ui-icon-trash { background-position: -176px -96px }
.ui-icon-locked { background-position: -192px -96px }
.ui-icon-unlocked { background-position: -208px -96px }
.ui-icon-bookmark { background-position: -224px -96px }
.ui-icon-tag { background-position: -240px -96px }
.ui-icon-home { background-position: 0 -112px }
.ui-icon-flag { background-position: -16px -112px }
.ui-icon-calendar { background-position: -32px -112px }
.ui-icon-cart { background-position: -48px -112px }
.ui-icon-pencil { background-position: -64px -112px }
.ui-icon-clock { background-position: -80px -112px }
.ui-icon-disk { background-position: -96px -112px }
.ui-icon-calculator { background-position: -112px -112px }
.ui-icon-zoomin { background-position: -128px -112px }
.ui-icon-zoomout { background-position: -144px -112px }
.ui-icon-search { background-position: -160px -112px }
.ui-icon-wrench { background-position: -176px -112px }
.ui-icon-gear { background-position: -192px -112px }
.ui-icon-heart { background-position: -208px -112px }
.ui-icon-star { background-position: -224px -112px }
.ui-icon-link { background-position: -240px -112px }
.ui-icon-cancel { background-position: 0 -128px }
.ui-icon-plus { background-position: -16px -128px }
.ui-icon-plusthick { background-position: -32px -128px }
.ui-icon-minus { background-position: -48px -128px }
.ui-icon-minusthick { background-position: -64px -128px }
.ui-icon-close { background-position: -80px -128px }
.ui-icon-closethick { background-position: -96px -128px }
.ui-icon-key { background-position: -112px -128px }
.ui-icon-lightbulb { background-position: -128px -128px }
.ui-icon-scissors { background-position: -144px -128px }
.ui-icon-clipboard { background-position: -160px -128px }
.ui-icon-copy { background-position: -176px -128px }
.ui-icon-contact { background-position: -192px -128px }
.ui-icon-image { background-position: -208px -128px }
.ui-icon-video { background-position: -224px -128px }
.ui-icon-script { background-position: -240px -128px }
.ui-icon-alert { background-position: 0 -144px }
.ui-icon-info { background: url(../img/icon_sprite.png) 0 0 no-repeat !important }
.ui-icon-notice { background-position: -32px -144px }
.ui-icon-help { background-position: -48px -144px }
.ui-icon-check { background-position: -64px -144px }
.ui-icon-bullet { background-position: -80px -144px }
.ui-icon-radio-off { background-position: -96px -144px }
.ui-icon-radio-on { background-position: -112px -144px }
.ui-icon-pin-w { background-position: -128px -144px }
.ui-icon-pin-s { background-position: -144px -144px }
.ui-icon-play { background-position: 0 -160px }
.ui-icon-pause { background-position: -16px -160px }
.ui-icon-seek-next { background-position: -32px -160px }
.ui-icon-seek-prev { background-position: -48px -160px }
.ui-icon-seek-end { background-position: -64px -160px }
.ui-icon-seek-start { background-position: -80px -160px }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px }
.ui-icon-stop { background-position: -96px -160px }
.ui-icon-eject { background-position: -112px -160px }
.ui-icon-volume-off { background-position: -128px -160px }
.ui-icon-volume-on { background-position: -144px -160px }
.ui-icon-power { background-position: 0 -176px }
.ui-icon-signal-diag { background-position: -16px -176px }
.ui-icon-signal { background-position: -32px -176px }
.ui-icon-battery-0 { background-position: -48px -176px }
.ui-icon-battery-1 { background-position: -64px -176px }
.ui-icon-battery-2 { background-position: -80px -176px }
.ui-icon-battery-3 { background-position: -96px -176px }
.ui-icon-circle-plus { background-position: 0 -192px }
.ui-icon-circle-minus { background-position: -16px -192px }
.ui-icon-circle-close { background-position: -32px -192px }
.ui-icon-circle-triangle-e { background-position: -48px -192px }
.ui-icon-circle-triangle-s { background-position: -64px -192px }
.ui-icon-circle-triangle-w { background-position: -80px -192px }
.ui-icon-circle-triangle-n { background-position: -96px -192px }
.ui-icon-circle-arrow-e { background-position: -112px -192px }
.ui-icon-circle-arrow-s { background-position: -128px -192px }
.ui-icon-circle-arrow-w { background-position: -144px -192px }
.ui-icon-circle-arrow-n { background-position: -160px -192px }
.ui-icon-circle-zoomin { background-position: -176px -192px }
.ui-icon-circle-zoomout { background-position: -192px -192px }
.ui-icon-circle-check { background-position: -208px -192px }
.ui-icon-circlesmall-plus { background-position: 0 -208px }
.ui-icon-circlesmall-minus { background-position: -16px -208px }
.ui-icon-circlesmall-close { background-position: -32px -208px }
.ui-icon-squaresmall-plus { background-position: -48px -208px }
.ui-icon-squaresmall-minus { background-position: -64px -208px }
.ui-icon-squaresmall-close { background-position: -80px -208px }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px }
.ui-icon-grip-solid-vertical { background-position: -32px -224px }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px }
.ui-icon-grip-diagonal-se { background-position: -80px -224px }
/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-tl { border-top-left-radius: 3px; }
.ui-corner-tr { border-top-right-radius: 3px; }
.ui-corner-bl { border-bottom-left-radius: 3px; }
.ui-corner-br { border-bottom-right-radius: 3px; }
.ui-corner-top { border-top-left-radius: 3px; border-top-right-radius: 3px; }
.ui-corner-bottom { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.ui-corner-right { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.ui-corner-left { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.ui-corner-all { border-radius: 3px; }
/* Overlays */
.ui-widget-overlay { background: #262b33; opacity: .70; filter: Alpha(Opacity=70); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #000000; opacity: .30; filter: Alpha(Opacity=30); border-radius: 8px; }
/*
 * jQuery UI Resizable 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Resizable#theming
 */
.ui-resizable { position: relative }
.ui-resizable-handle { position: absolute; font-size: 0.1px; z-index: 999; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px; }
/*
 * jQuery UI Selectable 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Selectable#theming
 */
.ui-selectable-helper { position: absolute; z-index: 100; border: 1px dotted black; }
/*
 * jQuery UI Accordion 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
/* IE/Win - Fix animation bug - #4615 */
.ui-accordion { width: 100% }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-header, .ui-accordion .ui-accordion-content { border-radius: 0; }
.ui-accordion .ui-accordion-li-fix { display: inline }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important }
.ui-accordion .ui-accordion-header a { display: block; font-size: 12px; font-weight: bold; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: visible; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block } /*
 * jQuery UI Autocomplete 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { position: absolute; cursor: default; z-index: 3; border-radius: 0; box-shadow: 0 1px 5px rgba(0,0,0,0.3); }
/* workarounds */
* html .ui-autocomplete { width: 1px } /* without this, the menu expands to 100% in IE6 */
/*
 * jQuery UI Menu 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu { list-style: none; padding: 2px; margin: 0; display: block; float: left; }
.ui-menu .ui-menu { margin-top: -3px }
.ui-menu .ui-menu-item { margin: 0; padding: 0; zoom: 1; float: left; clear: left; width: 100%; }
.ui-menu .ui-menu-item a { text-decoration: none; display: block; padding: .2em .4em; line-height: 1.5; zoom: 1; }
.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active { font-weight: normal; margin: -1px; background: #5f83b9; color: #FFFFFF; text-shadow: 0px 1px 1px #234386; border-color: #466086; border-radius: 0; }
/*
 * jQuery UI Button 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
/* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em }
button.ui-button-icons-only { width: 3.7em }
/* button animation properties */
.ui-button { -o-transition: -o-box-shadow 0.25s ease-in-out; }
/*states*/
.ui-button.ui-state-hover { box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset; }
.ui-button.ui-state-focus { outline: none; nowhitespace: afterproperty; color: #1c4257; border-color: #7096ab; background: #ededed url(images/bg_fallback.png) 0 -50px repeat-x; background: linear-gradient(top, #b9e0f5 0%,#92bdd6 100%); /* W3C */ box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset; ; }
/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4; font-size: 14px; font-weight: bold; }
.ui-button-text-only .ui-button-text { min-width: 31px; height: 30px; line-height: 30px; padding: 0 12px; }
.ui-buttonset .ui-button.ui-state-default.ui-corner-left .ui-button-text { border-right: 0 }
.ui-buttonset .ui-button.ui-state-default.ui-corner-right .ui-button-text { border-left: 0; border-right: 1px solid #B6B6B6; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { font-size: 14px; font-weight: bold; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); padding: 0 1em !important; height: 33px; }
/*remove submit button internal padding in Firefox*/
input.ui-button::-moz-focus-inner { border: 0; padding: 0; }
/* fix webkits handling of the box model */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	input.ui-button { height: 31px !important }
}
/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em }
/*button sets*/
.ui-buttonset .ui-button { margin-left: 0; margin-right: -1px; border-left: 0; }
.ui-buttonset .ui-button.ui-state-active { color: #FFFFFF; border-color: #71963A; /* FF3.6+ */ nowhitespace: afterproperty; /* Chrome10+,Safari5.1+ */ nowhitespace: afterproperty; /* IE10+ */ nowhitespace: afterproperty; /* W3C */ background: #A3C76E; box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.1); border-left: 0;  }
/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; }
/* reset extra padding in Firefox */
/*
 * jQuery UI Dialog 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.ui-dialog { position: absolute; padding: 0; width: 300px; overflow: hidden; }
.ui-dialog { -webkit-box-shadow: 0 2px 12px rgba(0,0,0,0.6); -moz-box-shadow: 0 2px 12px rgba(0,0,0,0.6); }
.ui-dialog .ui-dialog-titlebar { padding: 0.7em 1em 0.6em 1em; position: relative; border: none; border-bottom: 1px solid #979797; border-radius: 0; }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .2em 0; font-size: 14px; text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .8em; top: 55%; width: 16px; margin: -10px 0 0 0; padding: 0; height: 16px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; background: url(../img/icon_sprite.png) 0 -16px no-repeat; }
.ui-dialog .ui-dialog-titlebar-close:hover span { background-position: -16px -16px }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; border: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move }
/* jQuery UI Tabs 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs { position: relative; zoom: 1; border: 0; background: transparent; }
/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: 0; background: transparent; border-width: 0 0 1px 0; }
.ui-tabs .ui-tabs-nav { border-radius: 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; font-size: 12px; font-weight: bold; text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; background: #fff; border-color: #B6B6B6; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; outline: none; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0 1px 1px 1px; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-panel { background: #FFF; border-radius: 0; }
.ui-tabs .ui-tabs-hide { display: none !important }
/*
 * jQuery UI Datepicker 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 17em; padding: 0; display: none; border-color: #DDDDDD; }
.ui-datepicker { box-shadow: 0 4px 8px rgba(0,0,0,0.5); }
.ui-datepicker .ui-datepicker-header { position: relative; padding: .35em 0; border: none; border-bottom: 1px solid #B6B6B6; border-radius: 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: absolute; top: 6px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { border: 1px none }
.ui-datepicker .ui-datepicker-prev { left: 2px }
.ui-datepicker .ui-datepicker-next { right: 2px }
.ui-datepicker .ui-datepicker-prev span { background-position: 0px -32px !important }
.ui-datepicker .ui-datepicker-next span { background-position: -16px -32px !important }
.ui-datepicker .ui-datepicker-prev-hover span { background-position: 0px -48px !important }
.ui-datepicker .ui-datepicker-next-hover span { background-position: -16px -48px !important }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px; background: url(../img/icon_sprite.png.png) no-repeat; }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; font-size: 12px; text-shadow: 0 1px 0 rgba(255,255,255,0.6); }
.ui-datepicker .ui-datepicker-title select { font-size: 1em; margin: 1px 0; }
.ui-datepicker select.ui-datepicker-month-year { width: 100% }
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { width: 49% }
.ui-datepicker table { width: 100%; font-size: .9em; border-collapse: collapse; margin: 0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0; }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding: 0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width: auto; overflow: visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: left }
.ui-datepicker table .ui-state-highlight { border-color: #5F83B9 }
.ui-datepicker table .ui-state-hover { background: #5F83B9; color: #FFF; font-weight: bold; text-shadow: 0 1px 1px #234386; box-shadow: 0 0px 0 rgba(255,255,255,0.6) inset; border-color: #5F83B9; }
.ui-datepicker-calendar .ui-state-default { background: transparent; border-color: #FFF; }
.ui-datepicker-calendar .ui-state-active { background: #5F83B9; border-color: #5F83B9; color: #FFF; font-weight: bold; text-shadow: 0 1px 1px #234386; }
/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width: auto }
.ui-datepicker-multi .ui-datepicker-group { float: left }
.ui-datepicker-multi .ui-datepicker-group table { width: 95%; margin: 0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width: 50% }
.ui-datepicker-multi-3 .ui-datepicker-group { width: 33.3% }
.ui-datepicker-multi-4 .ui-datepicker-group { width: 25% }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width: 0 }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width: 0 }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear: left }
.ui-datepicker-row-break { clear: both; width: 100%; }
/* RTL support */
.ui-datepicker-rtl { direction: rtl }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear: right }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float: right }
.ui-datepicker-rtl .ui-datepicker-group { float: right }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width: 0; border-left-width: 1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width: 0; border-left-width: 1px; }
/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover { display: none; /*sorry for IE5*/ display: block; /*sorry for IE5_NO__DOTCOMMA__AFTER__*/ position: absolute; /*must have*/ z-index: -1; /*must have*/ -webkit-filter: mask(); filter: mask(); /*must have*/ top: -4px; /*must have*/ left: -4px; /*must have*/ width: 200px; /*must have*/ height: 200px /*must have*/ ; }
/*
 * jQuery UI Progressbar 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Progressbar#theming
 */
.ui-progressbar { height: 12px; text-align: left; background: #FFF url(images/progress_bar.gif) 0 -14px repeat-x; }
.ui-progressbar .ui-progressbar-value { margin: -1px; height: 100%; background: url(images/progress_bar.gif) 0 0 repeat-x; }
/* Extra Input Field Styling */
.ui-form textarea, .ui-form input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]) { padding: 3px; border-radius: 2px; border: 1px solid #cecece; outline: none; box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2); -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25 ease-in-out; -o-transition: all 0.25s ease-in-out; }
.ui-form textarea:hover, .ui-form input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):hover { border: 1px solid #bdbdbd; box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2); }
.ui-form textarea:focus, .ui-form input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):focus { border: 1px solid #95bdd4; box-shadow: 0 2px 3px rgba(161,202,226,0.5) inset, 0 1px 0 rgba(255,255,255,0.2); }
.ui-buttonset .ui-button.ui-state-active.ui-corner-left { background: #DE806F; border-right: 1px; border-color: #D04F38; border-left: 1px solid #D04F38!important; }
.ui-buttonset .ui-button.ui-state-default.ui-corner-right { border-left: 0; border-right: 0; }
.ui-buttonset .ui-button.ui-state-default.ui-corner-left { border-left: 1px solid #B6B6B6 }