.nhp-opts-sorter-container {
  margin-right: -20px;
}
.nhp-opts-sorter-container ul {
  background: #F9F9F9;
  border: 1px solid #E3E3E3;
  min-height: 40px;
  padding: 10px 10px 0;
  width: 43%;
  max-width: 210px;
  float: left;
  margin: 0 3% 0 0;
}
.nhp-opts-sorter-container ul.filled {
  opacity: .7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
  background: #efecec;
}
.nhp-opts-sorter-container ul li {
  border: 1px solid #DFDFDF;
  cursor: move;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px !important;
  background-color: #F1F1F1;
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  text-align: center;
}
.nhp-opts-sorter-container ul h3 {
	color: #777;
	margin-top: 0px;
	font-size: 16px;
	line-height: 2em;
	border-bottom: 1px solid #EAEAEB;
	padding: 0;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 14px;
}
.nhp-opts-sorter-container ul li.placeholder {
  background: #f9f9f9;
  border-width: 1px;
  border-style: dashed;
  height: 40px;
}
.nhp-opts-sorter-container ul:last-child {
	margin-right: 0;
}

.nhp-opts-sorter [data-group-id="disabled"] {
  opacity: 0.5;
}
.nhp-opts-sorter [data-group-id="disabled"]:hover {
  opacity: 1;
}